<h2 class="text-left">Liste des ports</h2>
<br/>

<div class="row">
  <div class="col-md-12">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="w-100 form-control" type="text"/>
  </div>

</div>

<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="w-100" *ngIf="result$ | async as result">
    <tr>
      <th class="center">Switch</th>
      <th class="center">Numéro de port</th>
      <th class="center">Chambre</th>
      <th></th>
    </tr>
    <tr
      *ngFor="let portResult of result.ports | paginate: { id: 'paginationControlsTemplate',
      itemsPerPage: result.items_per_page, currentPage: result.current_page, totalItems: result.item_count}">
      <td class="center">{{ portResult.switchObj.description }}</td>
      <td class="center">{{ portResult.portNumber }}</td>
      <td class="center">
        <a *ngIf="portResult.room != null" [routerLink]="['/room/view', portResult.room.id]">{{ portResult.room.description }}</a>
        <a *ngIf="portResult.room == null">Aucune chambre</a>
      <td class="center">
        <a [routerLink]="['/switch/view', portResult.switchObj.id, 'port', portResult.id]">
          <button class="btn btn-primary">Consulter</button>
        </a>
      </td>
    </tr>
  </table>
  <app-custom-pagination id="paginationControlsTemplate"
                         (changePage)="changePage($event)"></app-custom-pagination>
</div>
