<div class="dashboard">
  <h1 *ngIf="name">Bonjour {{ name }}</h1>
  <img class="w-50" src="../assets/minet_dark.png">

  <div class="row mt-3">
    <div class="col-md-6">
      <a [routerLink]="['/member/add']">
        <button class="btn btn-primary w-100 mb-3">Nouvelle inscription</button>
      </a>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['/naina']">
        <button class="btn btn-primary w-100 mb-3">Créer un compte NainA</button>
      </a>
    </div>
  </div>
  <app-global-search></app-global-search>
</div>
