<div class="columns column is-centered">
  <figure>
    <img alt="adh6 logo" src="../assets/adh6.min.svg">
  </figure>
</div>
<ng-container *ngIf="member$ | async as member">
  <app-auto-troubleshoot [member]="member"></app-auto-troubleshoot>
  <div class="tabs is-centered is-large">
    <ul>
      <li [ngClass]="{'is-active': currentTab==='device'}">
        <a i18n="own devices" (click)="currentTab='device'">Mes appareils</a>
      </li>
      <li [ngClass]="{'is-active': currentTab==='account'}">
        <a i18n="own account" (click)="currentTab='account'">Mon compte</a>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="currentTab==='account'">
    <app-account [member]="member"></app-account>
  </ng-container>
  <ng-container *ngIf="currentTab==='device'">
    <app-device [memberId]="member.id"></app-device>
  </ng-container>
</ng-container>
