<h2 class="title is-2">Liste des produits</h2>
<br />

<div class="box">
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Rechercher..."
    class="input is-fullwidth" type="text" />

  <table class="table is-hoverable is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix d'achat</th>
        <th>Prix de vente</th>
      </tr>
    </thead>
    <tbody *ngIf="result$ | async as result">
      <tr *ngFor="let productResult of result.products">
        <td class="align-middle">{{ productResult.name }}</td>
        <td class="align-middle">{{ productResult.buying_price*0.01 }}</td>
        <td class="align-middle">{{ productResult.selling_price*0.01 }}</td>
      </tr>
    </tbody>
  </table>
</div>
