<input
  #searchBox
  id="search-box"
  (keyup)="search(searchBox.value)"
  placeholder="Rechercher..."
  class="input is-fullwidth"
  type="text" />
<br />

@if (result$ | async; as result) {
  <table class="table is-hoverable is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix d'achat</th>
        <th>Prix de vente</th>
      </tr>
    </thead>
    <tbody>
      @for (productResult of result; track productResult) {
        <tr>
          <td class="align-middle">{{ productResult.name }}</td>
          <td class="align-middle">{{ productResult.buyingPrice * 0.01 }}</td>
          <td class="align-middle">{{ productResult.sellingPrice * 0.01 }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div class="notification is-info is-light has-text-centered">
    <h4 class="title is-4">Chargement ...</h4>
  </div>
}
