<h2 class="title is-2">Liste des appareils</h2>
<div class="box">
  <input #searchBox id="search-box" placeholder="Rechercher..." (keyup)="search(searchBox.value)"
    class="input is-fullwidth" type="text" />
  <ng-container *ngIf="maxItems$ | async as maxItems">
    <table class="table is-hoverable is-fullwidth" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>MAC de l'appareil</th>
          <th>Type d'appareil</th>
        </tr>
      </thead>
      <tbody *ngIf="result$ | async as result">
        <tr *ngFor="let device of result" [routerLink]="['../../member/view' , device.member.id]"
          [queryParams]="{highlight: device.mac}">
          <td>{{ device.member.username }}</td>
          <td>{{ device.mac }}</td>
          <td>{{ device.connectionType }}</td>
        </tr>
      </tbody>
    </table>
    <app-pagination [maxItems]="maxItems" (pageChange)="handlePageChange($event)"></app-pagination>
  </ng-container>
</div>
