<form [formGroup]="memberPassword" (ngSubmit)="changePassword()" novalidate>
  <div class="form-group">
    <label i18n="member new password">Nouveau mot de passe</label>
    <input class="w-100 form-control" type="password" formControlName="password"/>
    <div *ngIf="memberPassword.controls['password'].invalid && memberPassword.controls['password'].dirty && memberPassword.controls['password'].touched">
      <span class="invalid" *ngIf="memberPassword.controls['password'].errors.minlength" i18n="member password height">Le mot de passe doit contenir au moins 8 caractères.</span>
    </div>
  </div>

  <div class="form-group">
    <label i18n="member confirm password">Confirmer le mot de passe</label>
    <input class="w-100 form-control" type="password" formControlName="password_confirm">
    <div *ngIf="memberPassword.controls['password_confirm'].dirty && memberPassword.controls['password_confirm'].touched">
      <span class="invalid" *ngIf="memberPassword.status == 'INVALID'" i18n="member password different">Les mots de passe ne correspondent pas.</span>
    </div>
  </div>

  <button type="submit" class="w-100 btn btn-primary"
          [disabled]="disabled || memberPassword.status == 'INVALID'" i18n="@@validate">
    Valider
  </button>
</form>
