<form [formGroup]="memberPassword" (ngSubmit)="changePassword()" novalidate>
  <div class="field">
    <label class="label" i18n="member new password">Nouveau mot de passe</label>
    <p class="control has-icons-right">
      <input class="input is-fullwidth" type="{{showPassword ? 'text' : 'password' }}" formControlName="password" />
      <span class="icon is-small is-right is-clickable" (click)="showPassword = !showPassword">
        <img src="assets/icons/eye-close.svg" alt="hide password" *ngIf="!showPassword">
        <img src="assets/icons/eye-open.svg" alt="show password" *ngIf="showPassword">
      </span>
    </p>
    <p class="help is-danger"
      *ngIf="memberPassword.controls['password'].invalid && memberPassword.controls['password'].dirty && memberPassword.controls['password'].touched">
      <span class="invalid" *ngIf="memberPassword.controls['password'].errors.minlength"
        i18n="member password height">Le mot de passe doit contenir au moins 8 caractères.</span>
    </p>
  </div>
  <div class="field">
    <label class="label" i18n="member confirm password">Confirmer le mot de passe</label>
    <p class="control has-icons-right">
      <input class="input is-fullwidth" type="{{showConfirmPassword ? 'text' : 'password' }}"
        formControlName="password_confirm">
      <span class="icon is-small is-right is-clickable" (click)="showConfirmPassword = !showConfirmPassword">
        <img src="assets/icons/eye-close.svg" alt="hide password" *ngIf="!showConfirmPassword">
        <img src="assets/icons/eye-open.svg" alt="show password" *ngIf="showConfirmPassword">
      </span>
    </p>
    <p class="help is-danger"
      *ngIf="memberPassword.controls['password_confirm'].dirty && memberPassword.controls['password_confirm'].touched">
      <span class="invalid" *ngIf="memberPassword.status === 'INVALID'" i18n="member password different">Les mots de
        passe ne correspondent pas.</span>
    </p>
  </div>
  <button type="submit" class="button is-primary is-fullwidth"
    [disabled]="disabled || memberPassword.status === 'INVALID'" i18n="@@validate">
    Valider
  </button>
</form>
