<div class="d-flex align-items-center" >
  <main role="main" class="container">
    <div id="content" class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <nav id="navbar-example2" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Langue :</a>
            <ul class="nav nav-pills">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Choisissez votre langue : </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#one">Français.</a>
                  <a class="dropdown-item" href="#two">English.</a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="card-header text-center">
            <img src="https://minet.net/res/img/minet.png" class="img-fluid"></div>
          <div class="card-body">
            <div class="alert alert-danger text-center" role="alert">
              Portail captif en construction ! Suivez le développement <a href="https://gitlab.minet.net/adh6/core/blob/portail_captif/frontend_angular/src/app/portail/" class="alert-link">ici</a> !
            </div>
            <h4 class="text-justify" style="color: dark" >  <b>Bienvenue au foyer de Télécom SudParis et Institut Mines-Télécom Buisnness school !
            </b></h4>
            <p class="text-justify" style="color: dark" >    L'association MiNET vous propose ce wifi gratuit au niveau du foyer. Afin d'accéder à Internet, acceptez les conditions d'utilisation de ce réseau et connectez vous avec vos identifiants d'école.
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
              Launch demo modal
            </button>

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Testr</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>


            <h2 class="text-center">Pour continuer votre aventure :</h2>


            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                J'accepte les conditions d'utilisation du wifi.
              </label>
            </div>






          </div>
        </div>
      </div>
    </div>
  </main>
</div>
