<div class="d-flex align-items-center" *ngIf="(authorization$ | async) as authorization">
  <main role="main" class="container">
    <div id="content" class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <img src="https://minet.net/res/img/minet.png" class="img-fluid"></div>
          <div class="card-body">
              <h3 class="text-center"><code>{{ authorization.client_name }}</code> demande les accès suivants :</h3>



              <div class="list-group" *ngIf="(scope$ | async) as scope">
                <ng-template ngFor let-item [ngForOf]="scope">
                  <div class="list-group-item flex-column align-items-start" *ngIf="!SCOPE_LIST[item].hidden">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{item}}</h5>
                      <ng-toggle
                        [ngModel]="consents.get(item)"
                        (ngModelChange)="consents.set(item, $event)"
                        [onText]="'Oui'"
                        [offText]="'Non'"
                        [size]="'sm'"
                        [disabled]="SCOPE_LIST[item].mandatory"
                      >
                      </ng-toggle>
                    </div>
                    <p class="mb-1">{{ SCOPE_LIST[item].description }}</p>
                    <small>{{ SCOPE_LIST[item].mandatory ? 'Obligatoire' : 'Facultatif' }}</small>
                  </div>
                </ng-template>
              </div>
              <br>
              <button type="submit" class="btn btn-block btn-primary" (click)="onSubmit($event)">Continuer</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
