<h2 *ngIf="!create" class="title is-2">Édition d'un membre</h2>
<h2 *ngIf="create" class="title is-2">Création d'un membre</h2>
<form [formGroup]="memberEdit" (ngSubmit)="editMember()" novalidate>
  <div class="field">
    <label class="label">Prénom / First name :</label>
    <input class="input is-fullwidth" type="text" formControlName="firstName">
  </div>
  <div class="field">
    <label class="label">Nom / Last name :</label>
    <input class="input is-fullwidth" type="text" formControlName="lastName">
  </div>

  <div class="field">
    <label class="label">Login :</label>
    <input class="input is-fullwidth" type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
      spellcheck="false" formControlName="username">
    <p *ngIf="memberEdit.controls['username'].invalid && memberEdit.controls['username'].dirty && memberEdit.controls['username'].touched"
      class="help is-danger">
      <span class="invalid" *ngIf="memberEdit.controls['username'].errors.minlength">Le nom d'utilisateur doit
        contenir
        au moins 7 caractères.</span>
      <span class="invalid" *ngIf="memberEdit.controls['username'].errors.maxlength">Le nom d'utilisateur doit
        contenir
        moins de 8 caractères.</span>
    </p>
  </div>
  <div class="field">
    <label class="label">Mail :</label>
    <input class="input is-fullwidth" type="email" formControlName="email">
  </div>
  <div class="field">
    <label class="label">Numéro de chambre / Room number :</label>
    <input class="input is-fullwidth" formControlName="roomNumber" type="number">
  </div>
  <button type="submit" [disabled]="disabled || memberEdit.status === 'INVALID'"
    class="button is-primary is-fullwidth"><span *ngIf="!create">Éditer</span><span *ngIf="create">Créer</span>
  </button>
</form>
<br />
<a (click)="memberUsernameDelete()" *ngIf="!create">
  <button [disabled]="disabled" class="button is-danger is-fullwidth">
    Supprimer
  </button>
</a>
