**/.vscode/*

# git
.git/

# API SERVER
**/__pycache__
**.pyc
**.idea
backend/.cache/
backend/.coverage
backend/.pytest_cache/
backend/.swagger-codegen/
backend/bin/
backend/include/
backend/lib/
backend/htmlcov/*
backend/pip-selfcheck.json
backend/certs/
backend/venv
**/.pytest_cache
backend/mypy-report
**/pylint-report
**/pylint.json
**/flake8-report.txt

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc

# dependencies
frontend/node_modules

# IDEs and editors
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace

# IDE - VSCode
frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/typings

# e2e
frontend/e2e/*.js
frontend/e2e/*.map

# System Files
frontend/.DS_Store
frontend/Thumbs.db
