.env
.gitlab-ci-local/

# IDE
**/.vscode
**.idea

# MacOS
**/.DS_Store

# Python
**/__pycache__
**.pyc

# Backend
**/.coverage
**/.pytest_cache/
**/htmlcov
**/.pytest_cache
backend/OUIs.txt

# FRONTEND (ANGULAR)
# See http:/help.github.com/ignore-files/ for more about ignoring files.

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc

# dependencies
frontend/node_modules
