<div *ngIf="(member$ | async) as member" class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9"><h2><span
    class="capitalize">{{ member.firstName | lowercase }}</span> {{ member.lastName | uppercase }}</h2>
  </div>
</div>
<div *ngIf="(member$ | async) as member" class="row">
  <!-- Left column -->
  <div class="col-md-3">
    <div class="card shadow" style="position: sticky; top: 10px;">
      <div class="card-body">
        <!-- Comment -->
        <div [ngClass]="{'commentaire': member.comment!=null}" class="w-100 mb-3">{{ member.comment }}</div>
        <!-- DISI picture -->
        <img class="w-100 image-disi" src="https://trombi.imtbs-tsp.eu/photo.php?uid={{ member.username }}&h=320&w=240"
             style="max-width: 200px; display: block; margin-left: auto; margin-right: auto;"/>
        <!-- Association button -->
        <button class="btn btn-primary w-100 association-button mt-3">Association des périphériques</button>
        <!-- History -->
        <ng-container *ngIf="latestMembership$ | async as latestMembership">
          <button class="btn btn-danger w-100 association-button mt-3" *ngIf="checkMembershipStatus(latestMembership.status)" disabled>{{statusToText[latestMembership.status]}}</button>
        </ng-container>
      </div>

    </div>
  </div>

  <!-- Right column -->
  <div class="col-md-9">
    <table class="w-100 shift-content-right">
      <thead>
      <tr>
        <th colspan="2"><h3 class="table-title">Profil</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="profile-field">Identifiant DISI</td>
        <td class="pb-2">{{ member.username }}</td>
      </tr>
      <tr>
        <td class="profile-field">Mail</td>
        <td class="pb-2"><a href="mailto:{{member.email}}">{{ member.email }}</a></td>
      </tr>
      <tr>
        <td class="profile-field">Date de départ</td>
        <td class="pb-2">{{ member.departureDate | date:'dd/MM/y' }}</td>
      </tr>
      <tr>
        <td class="profile-field">Chambre</td>
        <td class="pb-2">
          <a [routerLink]='["/room/view/", member.room.id]'>
            <button [disabled]="member.room.id == null" class="btn btn-primary">
              {{ member.room.roomNumber || "Aucune" }}
            </button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row mt-3">
      <div class="col-md-12">
        <!-- Put roles to hide this to a member -->
        <ng-container *ngIf="latestMembership$ | async as latestMembership">
          <button class="w-100 btn btn-primary mb-3" (click)="signCharter()" *ngIf="">Signer la charte</button>
          <button class="w-100 btn btn-primary mb-3" (click)="newMembership(member.id)" *ngIf="!checkMembershipStatus(latestMembership.status) || newMembershipDisabled">Nouvelle Inscription</button>
          <button class="w-100 btn btn-success mb-3" (click)="actionMembershipStatus(latestMembership.uuid, latestMembership.status, member.id)" *ngIf="latestMembership.status == 'PENDING_PAYMENT_VALIDATION'">Valider Paiement</button>
        </ng-container>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <a [routerLink]="['/member/edit/', member.id ]">
          <button class="w-100 btn btn-primary mb-3">Éditer le profil</button>
        </a>
      </div>
      <div class="col-md-6">
        <a [routerLink]="['/member/password/', member.id ]">
          <button class="w-100 btn btn-danger mb-3">Changer mot de passe</button>
        </a>
      </div>
    </div>

    <div class="row">
      <ng-container *ngIf="latestMembership$ | async as latestMembership">
        <div class="col-md-6">
          <button (click)="toggleCotisationMenu()" class="w-100 btn btn-primary mb-3">Cotiser</button>
        </div>
      </ng-container>

      <div class="col-md-6">
        <button [routerLink]="['/account/search' ]" [queryParams]="{ member: member.id }" class="w-100 btn btn-primary mb-3">
          Comptes liés
        </button>
      </div>
    </div>

    
    <ng-container *ngIf="latestMembership$ | async as latestMembership">
      <div *ngIf="cotisation">
        <h3>Cotisation</h3>
        {{ subscriptionForm | json }}
        <form (ngSubmit)="submitSubscription()" [formGroup]="subscriptionForm">
          <div class="form-group">
            <label>Renouvellement pour</label>
            <select (change)="updateAmount()" class="w-100 form-control"
                    formControlName="renewal" type="text">
              <option value="0">Aucun</option>
              <option value="7">sans chambre (9€) - {{ formatDate(12) }}</option>
              <option value="1">1 mois (9€) - {{ formatDate(1) }}</option>
              <option value="2">2 mois (18€) - {{ formatDate(2) }}</option>
              <option value="3">3 mois (27€) - {{ formatDate(3) }}</option>
              <option value="4">4 mois (36€) - {{ formatDate(4) }}</option>
              <option value="5">5 mois (45€) - {{ formatDate(5) }}</option>
              <option value="6">1 an (50€) - {{ formatDate(12) }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Matériel à ajouter</label>
            <ng-container *ngIf="products$ | async as products">
              <ng-container *ngFor="let product of products; let i = index" formArrayName="products">
                <div class="form-check" [formGroupName]="i">
                  <input formControlName="checked" (change)="updateAmount()" class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label" for="checked">
                    {{product.name}} ({{product.sellingPrice}} €)
                  </label>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="form-group">
            <label>Payer par (montant : {{ amountToPay }} €)</label>
            <select class="w-100 form-control" formControlName="paidBy"
                    type="text">
              <option *ngFor="let pm of paymentMethods$ | async" value="{{ pm.id }}">{{ pm.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <button class="w-100 btn btn-success mt-3" type="submit">Valider</button>
          </div>
        </form>
      </div>
    </ng-container>
    <app-auto-troubleshoot [member]="member"></app-auto-troubleshoot>
    <hr/>


    <!-- Device list -->

    <h3 class="my-0">Appareils</h3>

    <br>
    <h4 class="table-title my-0">Filaire</h4>
    <app-member-device-list
                            [abstractDeviceFilter]="{member: member.id, connectionType: 'wired'}"
                            [macHighlighted]="macHighlighted$"></app-member-device-list>

    <br>
    <h4 class="table-title my-0">Wifi</h4>
    <app-member-device-list
                            [abstractDeviceFilter]="{member: member.id, connectionType: 'wireless'}"
                            [macHighlighted]="macHighlighted$"></app-member-device-list>


    <form (ngSubmit)="submitDevice()" [formGroup]="deviceForm" class="w-100" novalidate>
      <div class="form-row">
        <div class="from-group col-md-8">
          <input class="w-100 form-control mb-3" formControlName="mac" type="text">
        </div>
        <div class="from-group col-md-4">
          <select class="w-100 form-control mb-3" formControlName="connectionType"
                  type="text">
            <option value="wired">Filaire</option>
            <option value="wireless">Wi-Fi</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="submitDisabled || deviceForm.status == 'INVALID'"
                class="w-100 btn btn-primary mb-3"
                type="submit">Ajouter l'appareil
        </button>
      </div>
    </form>


    <h3>Commentaire</h3>
    <form (ngSubmit)="submitComment()" [formGroup]="commentForm" novalidate>
      <div class="form-group">
        <textarea class="w-100 form-control" formControlName="comment"></textarea>
      </div>
      <div class="form-group">
        <button [disabled]="submitDisabled" class="w-100 btn btn-primary"
                type="submit">Envoyer
        </button>
      </div>
    </form>

    <div class="container">
      <div class="row">
        <div class="col-auto mr-auto p-0"><h3>Journal</h3></div>
        <div class="col-auto p-0" style="margin-top: 1em; margin-bottom: .5em;">
          <button (click)="refreshLog()" class="btn btn-primary" title="Actualiser le journal">&#x27F3;</button>
        </div>
      </div>
    </div>

    <div style="overflow:auto; max-height: 30em; font-family: 'Lucida Console', Monaco, monospace; font-size: small;">
      <ul class="list-unstyled u-max-full-width">
        <li *ngFor="let log of log$ | async">
          <span style="color:blue">{{ extractDateFromLog(log) | date:"dd/MM/yyy HH:mm:ss" }}</span> <span
          [innerHtml]="extractMsgFromLog(log)"></span>
        </li>
      </ul>
    </div>

    <div class="form-check mt-3 mb-3">
      <input (change)="getDhcp = !getDhcp" class="form-check-input" id="logsDhcp" type="checkbox">
      <label class="form-check-label" for="logsDhcp">Logs DHCP</label>
    </div>
  </div>
</div>
