<ng-container [ngTemplateOutlet]="pagination"></ng-container>
<ng-template #pagination>
  @if (maxItems !== undefined) {
    <nav class="pagination is-centered" role="navigation">
      <a
        class="pagination-previous is-disabled"
        (click)="addPage(-1)"
        [attr.disabled]="page === 1 ? true : null"
        >Previous</a
      >
      <a
        class="pagination-next"
        (click)="addPage(+1)"
        [attr.disabled]="page === numberOfPages ? true : null"
        >Next page</a
      >
      @if (numberOfPages === 1) {
        <ul class="pagination-list">
          <li><a class="pagination-link is-current">1</a></li>
        </ul>
      } @else {
        @if (numberOfPages <= deltaPage) {
          <ul class="pagination-list">
            <li>
              <a
                class="pagination-link"
                (click)="addPage(-page + 1)"
                [ngClass]="{'is-current': page === 1}"
                >1</a
              >
            </li>
            <li>
              <a
                class="pagination-link"
                (click)="addPage(-page + 2)"
                [ngClass]="{'is-current': page === 2}"
                >2</a
              >
            </li>
            <li>
              @if (numberOfPages === 3) {
                <a
                  class="pagination-link"
                  (click)="addPage(-page + 3)"
                  [ngClass]="{'is-current': page === 3}"
                  >3</a
                >
              }
            </li>
          </ul>
        }
        @if (numberOfPages > deltaPage) {
          <ul class="pagination-list">
            <li>
              <a
                class="pagination-link"
                (click)="addPage(-(page - 1))"
                [ngClass]="{'is-current': page === 1}"
                >1</a
              >
            </li>
            @if (page < deltaPage) {
              @for (p of pagesBefore; track p) {
                <li>
                  <a
                    class="pagination-link"
                    (click)="addPage(p - page)"
                    [ngClass]="{'is-current': page === p}"
                    >{{ p }}</a
                  >
                </li>
              }
            }
            @if (page >= deltaPage) {
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            }
            @if (page >= deltaPage && page <= numberOfPages - deltaPage + 1) {
              <li>
                <a class="pagination-link" (click)="addPage(-1)">{{
                  page - 1
                }}</a>
              </li>
              <li>
                <a class="pagination-link is-current">{{ page }}</a>
              </li>
              <li>
                <a class="pagination-link" (click)="addPage(+1)">{{
                  page + 1
                }}</a>
              </li>
            }
            @if (page <= numberOfPages - deltaPage + 1) {
              <li><span class="pagination-ellipsis">&hellip;</span></li>
            }
            @if (page > numberOfPages - deltaPage + 1) {
              @for (p of pagesAfter; track p) {
                <li>
                  <a
                    class="pagination-link"
                    (click)="addPage(p - page)"
                    [ngClass]="{'is-current': page === p}"
                    >{{ p }}</a
                  >
                </li>
              }
            }
            <li>
              <a
                class="pagination-link"
                (click)="addPage(numberOfPages - page)"
                [ngClass]="{'is-current': page === numberOfPages}"
                >{{ numberOfPages }}</a
              >
            </li>
          </ul>
        }
      }
    </nav>
  }
</ng-template>
