<ng-container *ngIf="member$ | async as member">
  <div class="tabs is-centered is-large">
    <ul>
      <li routerLinkActive="is-active">
        <a [routerLink]="['profile']">Profile</a>
      </li>
      <li routerLinkActive="is-active">
        <a [routerLink]="['payment']">Paiement</a>
      </li>
      <li routerLinkActive="is-active">
        <a [routerLink]="['device']">Appareils</a>
      </li>
    </ul>
  </div>
  <div class="notification is-info is-light" *ngIf="member.membership !== 'ABORTED' && member.membership !== 'CANCELLED' && member.membership !== 'COMPLETE'">
    <p><strong>Cotisation en cours</strong></p>
    <p><strong>Édition</strong> du profile, du mot de passe ou de la chambre n'est <strong>pas possible</strong></p>
  </div>
  <router-outlet></router-outlet>
</ng-container>