<ng-container *ngIf="(latestMembership$ | async) as latestMembership">
  <div
    *ngIf="latestMembership.status !== 'ABORTED' && latestMembership.status !== 'CANCELLED' && latestMembership.status !== 'COMPLETE'"
    class="notification is-info is-light">
    <h4 class="title is-4">Cotisation en cours:</h4>
    <p>Aucune modification sur l'adhérent (comme la chambre) ne peut-être faite.</p>
  </div>
  <div *ngIf="(member$ | async) as member" class="columns">
    <div class="column is-one-third">
      <div class="box">
        <h3 class="title is-3 has-text-centered">
          <span>{{ member.firstName | lowercase | titlecase }}</span> {{member.lastName | uppercase }}
        </h3>
        <table class="table is-fullwidth">
          <tbody>
            <tr>
              <td>Login</td>
              <td>{{ member.username }}</td>
            </tr>
            <tr>
              <td>Mail</td>
              <td><a href="mailto:{{member.email}}">{{ member.email }}</a></td>
            </tr>
            <tr>
              <td>Date de départ</td>
              <td>{{ member.departureDate | date:'dd/MM/y' }}</td>
            </tr>
            <tr>
              <td>IP Wifi</td>
              <td>{{ member.ip }}</td>
            </tr>
            <tr>
              <td>Subnet Wifi</td>
              <td>{{ member.subnet }}</td>
            </tr>
            <tr>
              <td>Chambre</td>
              <td>
                <ng-container *ngIf="member.roomNumber !== undefined; else elseNoRoom">
                  <a [routerLink]='["/room/view/", (room$ | async)]'>
                    {{ member.roomNumber }}
                  </a>
                </ng-container>
                <ng-template #elseNoRoom>
                  <button class="button is-warning" (click)="collapseMoveIn()"
                    [disabled]="latestMembership.status !== 'ABORTED' && latestMembership.status !== 'CANCELLED' && latestMembership.status !== 'COMPLETE'">
                    Emmenager
                  </button>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Right column -->
        <div *ngIf="moveIn">
          <form (ngSubmit)="submitRoom()" [formGroup]="moveInForm">
            <input class="input is-fullwidth" formControlName="roomNumber" type="number"
              placeholder="Numéro de chambre..." />
            <button class="button is-success is-fullwidth" type="submit" [disabled]="moveInDisabled">Valider</button>
          </form>
        </div>
        <h3 class="title is-4">Commentaire</h3>
        <form (ngSubmit)="submitComment()" [formGroup]="commentForm" novalidate>
          <p class="field">
            <textarea class="input is-fullwidth" formControlName="comment"></textarea>
          </p>
          <p class="field">
            <button [disabled]="submitDisabled" class="button is-primary is-fullwidth" type="submit">
              Envoyer
            </button>
          </p>
        </form>
      </div>
    </div>
    <div class="column">
      <div class="tabs is-centered is-large">
        <ul>
          <li [ngClass]="{'is-active': currentTab==='profile'}">
            <a (click)="currentTab='profile'">Profile</a>
          </li>
          <li [ngClass]="{'is-active': currentTab==='device'}">
            <a (click)="currentTab='device'">Appareils</a>
          </li>
        </ul>
      </div>
      <ng-container *ngIf="currentTab==='profile'">
        <h3 class="title is-4">
          Edition
        </h3>
        <hr />
        <div class="columns">
          <div class="column">
            <a [routerLink]="['/member/edit/', member.id ]">
              <button class="button is-primary is-fullwidth">Éditer le profil</button>
            </a>
          </div>
          <div class="column">
            <a [routerLink]="['/password', member.id ]">
              <button class="button is-danger is-fullwidth">Changer mot de passe</button>
            </a>
          </div>
        </div>
        <h3 class="title is-4">
          Paiement
        </h3>
        <hr />
        <app-cotisation (membershipUpdated)="refreshMembership($event)" [member]="member"
          [membership]="latestMembership"></app-cotisation>
      </ng-container>
      <ng-container *ngIf="currentTab==='device'">
        <app-auto-troubleshoot [member]="member"></app-auto-troubleshoot>
        <div class="columns">
          <div class="column">
            <h4 class="title is-4">Filaire</h4>
            <app-member-device-list #wiredList [abstractDeviceFilter]="{member: member.id, connectionType: 'wired'}"
              [macHighlighted]="macHighlighted$"></app-member-device-list>
          </div>
          <div class="column">
            <h4 class="title is-4">Wifi</h4>
            <app-member-device-list #wirelessList
              [abstractDeviceFilter]="{member: member.id, connectionType: 'wireless'}"
              [macHighlighted]="macHighlighted$"></app-member-device-list>
          </div>
        </div>
        <app-device-new [member_id]="member.id"
          (added)="$event.connectionType === 'wired' ? wiredList.updateSearch(): wirelessList.updateSearch()">
        </app-device-new>
        <br />
        <nav class="level">
          <div class="level-right">
            <div class="level-item has-text-centered">
              <h3 class="title is-3">Journal</h3>
            </div>
          </div>
          <div class="level-left">
            <div class="level-item has-text-centered">
              <button (click)="showLogs = !showLogs" class="button"
                [ngClass]="{'is-warning': !showLogs, 'is-danger': showLogs}" title="Afficher/Masquer le journal">
                {{showLogs ? "Cacher" : "Afficher"}}
              </button>
            </div>
          </div>
        </nav>
        <ng-container *ngIf="showLogs; else logHide">
          <nav class="level">
            <div class="level-right">
              <div class="level-item has-text-centered">
                <label class="checkbox">
                  <input (change)="getDhcp = !getDhcp" type="checkbox">
                  Logs DHCP
                </label>
              </div>
            </div>
            <div class="level-left">
              <div class="level-item has-text-centered">
                <button (click)="refreshLog()" class="button is-primary" title="Actualiser le journal">&#x27F3;</button>
              </div>
            </div>
          </nav>
          <div
            style="overflow:auto; max-height: 30em; font-family: 'Lucida Console', Monaco, monospace; font-size: small;">
            <ul class="list-unstyled is-fullwidth">
              <li *ngFor="let log of log$ | async">
                <span [innerHtml]="extractMsgFromLog(log)"></span>
              </li>
            </ul>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #logHide>
  <div class="notification has-text-centered is-info is-light">
    <h6 class="title is-6">Logs masqués</h6>
  </div>
</ng-template>
