<form [formGroup]="memberComment" (ngSubmit)="changeComment()" novalidate>
    <div class="field">
      <label class="label" i18n="member new comment">Nouveau commentaire</label>
      <p class="control has-icons-right">
        <textarea class="textarea" formControlName="comment" maxlength="255" placeholder="Commentaire max 255 caratères"></textarea>
      </p>
    </div>
    <button type="submit" class="button is-primary is-fullwidth" [disabled]="memberComment.invalid">
      Valider
    </button>
</form>