<div *ngIf="(account$ | async) as account">
  <h2 class="text-left">Liste des écritures du compte {{ account.name }} : {{ account.balance }} €</h2>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary mb-3 w-100" [routerLink]="['/transaction/add', account.id]">Ajouter une écriture</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary mb-3 w-100" [routerLink]="['../../../treasury']">Retour</button>
    </div>
  </div>

  <app-transaction-list [asAccount]="account.id"></app-transaction-list>

  <br/><br/>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-warning mb-3 w-100" [routerLink]="['/account/edit', account.id]">Modifier le compte</button>
    </div>
  </div>
</div>
