<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box" *ngIf="memberId$ | async as id">
      <form [formGroup]="memberComment" (ngSubmit)="update(id)" novalidate>
        <div class="field">
          <label class="label" i18n="member new comment">Nouveau commentaire</label>
          <p class="control has-icons-right">
            <textarea class="textarea" formControlName="comment" maxlength="255" placeholder="Commentaire max 255 caratères"></textarea>
          </p>
        </div>
        <div class="field is-grouped">
          <p class="control">
            <button type="submit" class="button is-primary" [disabled]="memberComment.invalid">Valider</button>
          </p>
          <p class="control">
            <button (click)="update(id)" class="button is-danger">Annuler</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>