<div class="modal" [ngClass]="{'is-active': transactionModal}" *ngIf="transactionModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-head">
      <p class="modal-card-title">Récapitulatif d'une transaction</p>
      <button class="delete" aria-label="close" (click)="toogleModal()"></button>
    </div>
    <div class="modal-card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <th scope="row">Depuis</th>
              <td>{{ selectedSrcAccount.name }}</td>
            </tr>
            <tr>
              <th scope="row">Montant</th>
              <td>{{ transactionDetails.get('value').value | number:'':'fr' }} €</td>
            </tr>
            <tr>
              <th scope="row">Via</th>
              <td>{{ getPaymentMethodNameById(+transactionDetails.get('paymentMethod').value) }}</td>
            </tr>
            <tr>
              <th scope="row">Vers</th>
              <td>{{ selectedDstAccount.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ transactionDetails.get('name').value }}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-warning" role="alert" *ngIf="transactionDetails.get('caisse').value !== 'direct'">
          Vous avez déclaré {{ transactionDetails.get('caisse').value === 'to' ? 'ajouter' : 'prendre' }} de l'argent
          dans la caisse via {{ getPaymentMethodNameById(+transactionDetails.get('paymentMethod').value) }},
          assurez-vous de bien le faire effectivement !
        </div>
        <button type="button" class="button is-primary" (click)="onSubmit(); toogleModal()">
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<h2 class="title is-2">Nouvelle transaction</h2>
<hr>

<form [formGroup]="transactionDetails">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">Compte source</p>
        </div>
        <div class="card-content">
          <div class="content">
            <app-account-search [selectedAccount]="selectedSrcAccount" (accountSelected)="selectedSrcAccount=$event">
            </app-account-search>
            <input type="hidden" formControlName="srcAccount"
              [value]="selectedSrcAccount !== undefined ? selectedSrcAccount.id : ''">
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">Ce compte sera <b>débité</b></p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">Transaction</p>
          <button class="card-header-icon" type="button" (click)="exchangeAccounts()">
            <span class="icon">
              <fa-icon [icon]="faExchangeAlt"></fa-icon>
            </span>
          </button>
        </div>
        <div class="card-content">
          <div class="content">
            <div class="field has-addons">
              <p class="control">
                <button type="button" class="button" tooltip="À valider" formControlName="pending_validation">
                  <fa-icon [icon]="faClock"></fa-icon>
                </button>
              </p>
              <p class="control">
                <input type="text" class="input" aria-label="Description" placeholder="Description"
                  formControlName="name">
              </p>
            </div>
            <div class="field">
              <div class="control">
                <div class="select">
                  <select formControlName="paymentMethod" id="paidBy">
                    <option value="">-- Payer par --</option>
                    <option *ngFor="let pm of paymentMethods" [value]="pm.id">{{ pm.name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field has-addons">
              <p class="control">
                <button class="button" (click)="setCaisse('to')" [ngClass]="{'is-primary': caisse==='to'}">
                  <span>Ajouter Caisse</span>
                </button>
              </p>
              <p class="control">
                <button class="button" (click)="setCaisse('direct')" [ngClass]="{'is-primary': caisse==='direct'}">
                  <span>Sans Caisse</span>
                </button>
              </p>
              <p class="control">
                <button class="button" (click)="setCaisse('from')" [ngClass]="{'is-primary': caisse==='from'}">
                  <span>Sortir Caisse</span>
                </button>
              </p>
            </div>
            <div class="notification is-warning" *ngIf="reverting">
              <small>Attention à bien inverser l'opération dans la caisse en cas d'annulation d'une transaction
                liquide
                passée !</small>
            </div>
            <div class="field has-addons">
              <p class="control">
                <span class="input" id="value">€</span>
              </p>
              <p class="control">
                <input type="text" class="input" aria-label="value" aria-describedby="value" formControlName="value"
                  type="number">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">Compte destination</p>
        </div>
        <div class="card-content">
          <div class=content>
            <app-account-search [selectedAccount]="selectedDstAccount" (accountSelected)="selectedDstAccount=$event">
            </app-account-search>
            <input type="hidden" formControlName="dstAccount"
              [value]="selectedDstAccount !== undefined ? selectedDstAccount.id : ''">
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">Ce compte sera <b>crédité</b></p>
        </footer>
      </div>
    </div>
  </div>

  <br>
  <button type="button" (click)="toogleModal()" class="button is-primary"
    [disabled]="transactionDetails.status === 'INVALID' || isFormInvalid()">Créer
  </button>

</form>

<br>
<h3 class="title is-3">Transactions récentes</h3>
<app-transaction-list [refresh]="refreshTransactions" (whenOnAction)="useTransaction($event)" [actions]="actions">
</app-transaction-list>
