@if (member$ | async) {
  <div class="tabs is-centered is-large">
    <ul>
      <li routerLinkActive="is-active">
        <a [routerLink]="['profile']" i18n="@@member.view.tab.profile"
          >Profil</a
        >
      </li>
      <li routerLinkActive="is-active">
        <a [routerLink]="['payment']" i18n="@@member.view.tab.payment"
          >Paiement</a
        >
      </li>
      <li routerLinkActive="is-active">
        <a [routerLink]="['device']" i18n="@@member.view.tab.devices"
          >Appareils</a
        >
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
}
