<ng-container *ngIf="paymentMethods$ | async as paymentMethods">
  <ng-container *ngIf="member.membership === 'PENDING_PAYMENT_VALIDATION'">
    <div class="field" *ngIf="('free' | able: 'Membership')">
      <div class="control">
        <div class="form-check">
          <label class="checkbox">
            <input [(ngModel)]="isFree" type="checkbox">
            Cocher pour faire une cotisation gratuite
          </label>
        </div>
      </div>
    </div>
    <div class="field">
      <button class="button is-success is-fullwidth" (click)="validatePayment()">Valider paiement</button>
    </div>
  </ng-container>
  <a (click)="membershipCollapse = !membershipCollapse">
    <h3 class="title is-4">
      Cotisation
      <span style="position: absolute; right: 30px">
        {{ !membershipCollapse ? "&#x25bc;" : "&#x25b2;" }}
      </span>
    </h3>
  </a>
  <hr />
  <app-cotisation *ngIf="membershipCollapse" [member]="member" [paymentMethods]="paymentMethods"
    (updateSubscription)="subscriptionUpdated()"></app-cotisation>
  <br />
  <a (click)="productCollapse = !productCollapse">
    <h3 class="title is-4">
      Produits
      <span style="position: absolute; right: 30px">
        {{ !productCollapse ? "&#x25bc;" : "&#x25b2;" }}
      </span>
    </h3>
  </a>
  <hr />
  <app-buy-product *ngIf="productCollapse" [member]="member" [paymentMethods]="paymentMethods"></app-buy-product>
</ng-container>
