<div class="row">
  <div class="col-md-6">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Rechercher"
      class="form-control mb-3" type="text" />
  </div>
  <div class="col-md-6">
    <div class="input-group mb-3">
      <select class="custom-select" (change)="updateTypeFilter($event.target.value)">
        <option value="">Tout type</option>
        <option *ngFor="let pm of paymentMethods" value="{{pm.id}}">{{pm.name}}</option>
      </select>
    </div>
  </div>
</div>
<table class="table" *ngIf="result$ | async as result">
  <thead>
    <tr>
      <th>Date</th>
      <th>Montant</th>
      <th>Intitulé</th>
      <th *ngIf="!asAccount">De</th>
      <th *ngIf="asAccount">De / Vers</th>
      <th *ngIf="!asAccount">Vers</th>
      <th>Moyen</th>
      <th *ngIf="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transactionResult of result.transactions | paginate: { 
      id: 'pagination',
      itemsPerPage: result.items_per_page, 
      currentPage: result.current_page, 
      totalItems: result.item_count
    }" [ngClass]="{
      'table-success' : asAccount && transactionResult.dst.id==this.asAccount, 
      'table-danger' : asAccount && transactionResult.dst.id!=this.asAccount,
      'text-muted': transactionResult.pendingValidation
    }">
      <td class="text-center align-middle" tooltip="{{ transactionResult.timestamp | date:'dd/MM/yyy HH:mm' }}">
        <fa-icon *ngIf="transactionResult.pendingValidation" [icon]="faClock"></fa-icon>
        <h6 class="mb-0">{{ transactionResult.timestamp | date:"dd/MM" }}</h6>
        <small>{{ transactionResult.timestamp | date:"yyy" }}</small>
      </td>
      <td class="text-right text-nowrap align-middle">
        <h5>{{ (asAccount ? ( transactionResult.dst.id==asAccount ? '+' : '-' ) : '') + transactionResult.value }} €
        </h5>
      </td>
      <td class="align-middle">{{ transactionResult.name }}</td>
      <td class="align-middle">{{ ( transactionResult.src.id==asAccount ? transactionResult.dst.name :
        transactionResult.src.name ) }}</td>
      <td class="align-middle" *ngIf="!asAccount">{{ transactionResult.dst.name }}</td>
      <td class="align-middle" tooltip="{{ transactionResult.author?.username }}">{{
        transactionResult.paymentMethod.name }}</td>
      <td *ngIf="actions" class="text-right align-middle">
        <div class="btn-group" role="group" aria-label="actions">
          <div *ngFor="let action of actions">
            <button type="button" class="btn btn-sm ml-1 {{ action.class }}"
              (click)="onAction.emit({name: action.name, transaction: transactionResult})"
              *ngIf="action.condition(transactionResult)" placement="bottom" tooltip="{{action.name}}">
              <fa-icon *ngIf="action.buttonIcon" [icon]="action.buttonIcon"></fa-icon>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="container">
  <pagination-controls id="pagination" previousLabel="Prev" nextLabel="Next" responsive="true"
    (pageChange)="handlePageChange($event)"></pagination-controls>
</div>

<app-pagination (pageChange)="handlePageChange($event)"></app-pagination>
