<h2 class="title is-2">Nouvelle transaction</h2>
<hr />
<form [formGroup]="transactionDetails" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input
        type="text"
        class="input"
        placeholder="Description"
        formControlName="name" />
    </div>
  </div>
  <div class="field">
    <label class="label">Montant (€)</label>
    <div class="control">
      <input
        type="number"
        class="input"
        placeholder="0"
        formControlName="value" />
    </div>
  </div>
  <div class="field">
    <label class="label">Moyen de paiement</label>
    <div class="control">
      <div class="select">
        <select formControlName="paymentMethod">
          <option value="0">-- Payer par --</option>
          @for (pm of paymentMethods; track pm) {
            <option [value]="pm.id">{{ pm.name }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button
        type="submit"
        class="button is-primary"
        [disabled]="transactionDetails.invalid">
        Créer
      </button>
    </div>
  </div>
</form>
<br />
<h3 class="title is-3">Transactions récentes</h3>
<app-transaction-list
  [refresh]="refreshTransactions"
  (whenOnAction)="useTransaction($event)"
  [actions]="actions">
</app-transaction-list>
