<div class="row">
  <div class="col-md-6">
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Rechercher" class="form-control mb-3" type="text"/>
  </div>
  <div class="col-md-3">
    <div class="input-group mb-3">
      <select class="custom-select" (change)="updateTypeFilter($event.target.value)">
        <option value="">Tout type</option>
        <option *ngFor="let accountType of accountTypes" value="{{accountType.id}}">{{accountType.name}}</option>
      </select>
      <div class="input-group-append">
        <button type="button" class="btn btn-danger"
                tooltip="Inactif"
                [value]="this.abstractAccountFilter.actif === false" (click)="updateBooleanFilter('actif', false, null)" btnCheckbox>
          <fa-icon [icon]="faBan"></fa-icon>
        </button>
        <button type="button" class="btn btn-secondary"
                tooltip="Épinglé"
                [value]="this.abstractAccountFilter.pinned === true" (click)="updateBooleanFilter('pinned', true, null)" btnCheckbox>
          <fa-icon [icon]="faThumbtack"></fa-icon>
        </button>
        <button type="button" class="btn btn-secondary"
                tooltip="Sur le compte courant"
                [value]="this.abstractAccountFilter.compteCourant === true" (click)="updateBooleanFilter('compteCourant', true, null)" btnCheckbox>
          CAV
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/account/add']">
      <button class="w-100 btn btn-primary">Nouveau compte</button>
    </a>
  </div>
</div>
<br/>

<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="table table-striped clickable-table table-sm" *ngIf="result$ | async as result">
    <tr>
      <th>Nom</th>
      <th>Actif</th>
      <th>Type</th>
      <th>Solde</th>
    </tr>

    <tr
      *ngFor="
      let accountResult of result.accounts | ObjectFilter: filter:!specificSearch
        | paginate
          : {
              id: 'paginationControlsTemplate',
              itemsPerPage: result.item_per_page,
              currentPage: result.page_number,
              totalItems: result.item_count
            }
    "
      [routerLink]="['/account/view', accountResult.id]"
    >
      <td class="align-middle">
        {{ accountResult.name }}
      </td>
      <td class="align-middle">{{ accountResult.actif  == true ? 'Oui' : 'Non' }}</td>
      <td class="align-middle">{{ accountResult.accountType.name }}</td>
      <td class="align-middle">{{ accountResult.balance }} €</td>
      <ng-template #noBalance><td class="align-middle">-</td></ng-template>
    </tr>
  </table>
  <app-custom-pagination id="paginationControlsTemplate"
                         (changePage)="changePage($event)"></app-custom-pagination>
</div>
