<ng-container *ngIf="memberDetailService.member$ | async as member">
    <h3 class="title is-3 has-text-centered">
        <span>{{ member.firstName | lowercase | titlecase }}</span> {{member.lastName | uppercase }}
    </h3>
    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <td>Login</td>
                <td>{{ member.username }}</td>
            </tr>
            <tr>
                <td>Date de départ</td>
                <td>{{ member.departureDate | date:'dd/MM/y' }}</td>
            </tr>
            <tr>
                <td>Wifi</td>
                <td *ngIf="member.subnet !== undefined && member.ip !== undefined; else noIpBlock">
                    {{ member.subnet }} - {{ member.ip }}
                </td>
            <ng-template #noIpBlock>
                <td>-</td>
            </ng-template>
            </tr>
            <tr>
                <td>Mail</td>
                <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
            </tr>
            <tr>
                <td>Chambre</td>
                <td>
                    <ng-container *ngIf="room$ | async as room; else elseNoRoom">
                    <a [routerLink]='["/room", room.roomNumber, "view"]'>
                        {{ room.roomNumber }}
                    </a>
                    </ng-container>
                    <ng-template #elseNoRoom>
                    <button class="button is-warning" (click)="collapseMoveIn()"
                        [disabled]="member.membership !== 'ABORTED' && member.membership !== 'CANCELLED' && member.membership !== 'COMPLETE'">
                        Emmenager
                    </button>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="moveIn">
        <form (ngSubmit)="submitRoom(member)" [formGroup]="roomForm">
            <input class="input is-fullwidth" formControlName="roomNumber" type="number" placeholder="Numéro de chambre..." />
            <button class="button is-success is-fullwidth" type="submit" [disabled]="roomForm.invalid">Valider</button>
        </form>
    </div>
    <div *ngIf="member.comment">
        <h3 class="title is-4">
            Commentaire
        </h3>
        <hr />
        <div class="notification is-primary is-light">
            <p>{{ member.comment }}<p>
        </div>
    </div>
    <h3 class="title is-4">Edition</h3>
    <hr />
    <div class="columns">
        <div class="column">
            <a [routerLink]="['/member/edit/', member.id ]">
                <button class="button is-primary is-fullwidth">Éditer le profil</button>
            </a>
        </div>
        <div class="column">
            <a [routerLink]="['comment']">
                <button class="button is-primary is-fullwidth"> {{member.comment ? "Modifier le commentaire" : "Ajouter un commentaire"}} </button>
            </a>
        </div>
        <div class="column">
            <a [routerLink]="['/password', member.id, 0 ]">
                <button class="button is-danger is-fullwidth">Changer mot de passe</button>
            </a>
        </div>
    </div>
    <app-mailinglist [mailinglistValue]="member.mailinglist" [memberId]="member.id"></app-mailinglist>
</ng-container>
<router-outlet></router-outlet>