<h3>Cotisation</h3>
<form (ngSubmit)="submitSubscription()" [formGroup]="subscriptionForm">
  <div class="form-group">
    <label>Renouvellement pour</label>
    <select (change)="updateAmount()" class="w-100 form-control" formControlName="renewal" type="text">
      <option value="0">Aucun</option>
      <option value="7">sans chambre (9€) - {{ formatDate(12) }}</option>
      <option value="1">1 mois (9€) - {{ formatDate(1) }}</option>
      <option value="2">2 mois (18€) - {{ formatDate(2) }}</option>
      <option value="3">3 mois (27€) - {{ formatDate(3) }}</option>
      <option value="4">4 mois (36€) - {{ formatDate(4) }}</option>
      <option value="5">5 mois (45€) - {{ formatDate(5) }}</option>
      <option value="6">1 an (50€) - {{ formatDate(12) }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Matériel à ajouter</label>
    <ng-container *ngIf="products$ | async as products">
      <ng-container *ngFor="let product of products; let i = index" formArrayName="products">
        <div class="form-check" [formGroupName]="i">
          <input formControlName="checked" (change)="updateAmount()" class="form-check-input" type="checkbox" value="">
          <label class="form-check-label" for="checked">
            {{product.name}} ({{product.sellingPrice}} €)
          </label>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="form-group">
    <label>Payer par (montant : {{ amountToPay }} €)</label>
    <select class="w-100 form-control" formControlName="paidWith" type="text">
      <option value="">Choisir moyen de paiement</option>
      <option *ngFor="let pm of paymentMethods$ | async" value="{{ pm.id }}">{{ pm.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <button class="w-100 btn btn-success mt-3" type="submit" [disabled]="cotisationDisabled">Valider</button>
  </div>
</form>