<div class="content">
  <h1 class="title" i18n="@@password.define.title">Définir le mot de passe</h1>
</div>

@if (isAdmin) {
  <form [formGroup]="passwordForm" (ngSubmit)="setPassword()" novalidate>
    <div class="field">
      <label class="label" for="password" i18n="@@password.new">
        Nouveau mot de passe
      </label>
      <input
        id="password"
        class="input is-fullwidth"
        type="password"
        autocomplete="new-password"
        formControlName="password" />
    </div>
    <div class="field">
      <label class="label" for="password-confirm" i18n="@@password.confirm">
        Confirmer le mot de passe
      </label>
      <input
        id="password-confirm"
        class="input is-fullwidth"
        type="password"
        autocomplete="new-password"
        formControlName="passwordConfirm" />
      @if (passwordForm.hasError("passwordMismatch")) {
        <p class="help is-danger" i18n="@@password.mismatch">
          Les mots de passe ne correspondent pas.
        </p>
      }
    </div>
    <button
      type="submit"
      class="button is-primary is-fullwidth"
      [disabled]="disabled || passwordForm.invalid"
      i18n="@@validate">
      Valider
    </button>
  </form>
} @else {
  <div class="content">
    <p i18n="@@password.define.expiration">
      Un lien personnel à durée limitée sera envoyé à votre adresse e-mail.
    </p>
  </div>
  <button
    type="button"
    class="button is-primary is-fullwidth"
    [disabled]="disabled"
    (click)="sendPasswordLink()"
    i18n="@@password.email.send">
    Envoyer le lien sécurisé
  </button>
}
