<form [formGroup]="memberPassword" (ngSubmit)="changePassword()" novalidate>
  <!--Validation is done by angular -->
  <div class="field">
    <label class="label" i18n="member new password">Nouveau mot de passe</label>
    <p class="control has-icons-right">
      <input
        class="input is-fullwidth"
        type="{{ showPassword ? 'text' : 'password' }}"
        formControlName="password" />
      <span
        class="icon is-small is-right is-clickable"
        (click)="showPassword = !showPassword">
        @if (!showPassword) {
          <img src="assets/icons/eye-close.svg" alt="hide password" />
        }
        @if (showPassword) {
          <img src="assets/icons/eye-open.svg" alt="show password" />
        }
      </span>
    </p>
    @if (
      memberPassword.controls["password"].invalid &&
      memberPassword.controls["password"].dirty &&
      memberPassword.controls["password"].touched
    ) {
      <p class="help is-danger">
        @if (memberPassword.controls["password"].errors?.minlength) {
          <span class="invalid" i18n="member password height"
            >Le mot de passe doit contenir au moins 8 caractères. <br
          /></span>
        }
        @if (memberPassword.controls["password"].errors?.maxlength) {
          <span class="invalid" i18n="member password length"
            >Le mot de passe ne doit pas dépasser 16 caractères.<br
          /></span>
        }
        @if (memberPassword.controls["password"].errors?.pattern) {
          <span class="invalid" i18n="member password pattern"
            >Le mot de passe doit contenir au moins une lettre majuscule, une
            lettre minuscule, un chiffre et un caractère spécial. <br
          /></span>
        }
      </p>
    }
  </div>
  <div class="field">
    <label class="label" i18n="member confirm password"
      >Confirmer le mot de passe</label
    >
    <p class="control has-icons-right">
      <input
        class="input is-fullwidth"
        type="{{ showConfirmPassword ? 'text' : 'password' }}"
        formControlName="password_confirm" />
      <span
        class="icon is-small is-right is-clickable"
        (click)="showConfirmPassword = !showConfirmPassword">
        @if (!showConfirmPassword) {
          <img src="assets/icons/eye-close.svg" alt="hide password" />
        }
        @if (showConfirmPassword) {
          <img src="assets/icons/eye-open.svg" alt="show password" />
        }
      </span>
    </p>
    @if (
      memberPassword.controls["password_confirm"].dirty &&
      memberPassword.controls["password_confirm"].touched
    ) {
      <p class="help is-danger">
        @if (memberPassword.status === "INVALID") {
          <span class="invalid" i18n="member password different"
            >Les mots de passe ne correspondent pas.</span
          >
        }
      </p>
    }
  </div>
  <button
    type="submit"
    class="button is-primary is-fullwidth"
    [disabled]="disabled || memberPassword.status === 'INVALID'"
    i18n="@@validate">
    Valider
  </button>
</form>
