@if (room$ | async; as room) {
  <div class="container mt-5">
    <div class="columns">
      <div class="column is-one-quarter box">
        <h4 class="title is-4 has-text-centered" i18n="@@common.informations">
          Informations
        </h4>
        <p>
          <strong i18n="@@room.details.room">Chambre : </strong
          >{{ room.roomNumber }}
        </p>
        <p>
          <strong i18n="@@room.details.vlan">VLAN assigné : </strong
          >{{ room.vlan }}
        </p>
        <br />
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <a [routerLink]="['/room/edit', room.id]">
              <button class="button is-primary" i18n="@@common.edit">
                Éditer
              </button>
            </a>
          </div>
          <div class="control">
            <button
              type="button"
              class="button is-danger"
              [disabled]="deleting"
              [class.is-loading]="deleting"
              (click)="deleteRoom(room)"
              i18n="@@common.delete">
              Supprimer
            </button>
          </div>
        </div>
        <hr />
        <div class="level">
          <div class="level-left">
            <h4 class="title is-4">Ports</h4>
          </div>
          <div class="level-right">
            <button class="button is-small is-success" (click)="addPort()">
              <span class="icon is-small"><i class="fas fa-plus"></i></span>
            </button>
          </div>
        </div>
        <ul>
          @for (portRes of ports$ | async; track portRes.id) {
            <p>
              <strong>{{ portRes.portNumber }}</strong>
            </p>
            <a
              class="button is-primary is-fullwidth is-small"
              [routerLink]="['/port', portRes.switchObj, portRes.id]"
              i18n="@@room.details.configure">
              Configurer
            </a>
            <button
              type="button"
              class="button is-warning is-light is-fullwidth is-small mt-1 mb-3"
              [disabled]="detachingPortIds.has(portRes.id!)"
              [class.is-loading]="detachingPortIds.has(portRes.id!)"
              (click)="detachPort(portRes)"
              i18n="@@room.details.detach-port.action">
              Retirer de la chambre
            </button>
          }
        </ul>
      </div>
      <div class="column">
        <h4 class="title is-4 has-text-centered" i18n="@@room.details.members">
          Adhérents
        </h4>
        <div class="box">
          @if (memberIds$ | async; as memberIds) {
            @for (memberId of memberIds; track memberId) {
              @if (getMemberUsername(memberId) | async; as member) {
                <div class="columns is-vcentered">
                  <div class="column is-one-fifth">
                    <strong
                      >{{ member.firstName }} {{ member.lastName }}</strong
                    >
                  </div>
                  <div class="column">
                    <div class="field is-grouped is-grouped-centered">
                      <div class="control">
                        <a [routerLink]="['/member/view', memberId, 'profile']">
                          <button
                            class="button is-primary"
                            [disabled]="enabled"
                            i18n="@@room.details.view-profile">
                            Consulter le profil
                          </button>
                        </a>
                      </div>
                      <div class="control">
                        <button
                          class="button is-primary"
                          (click)="onDemenager(memberId)"
                          [disabled]="enabled"
                          i18n="@@room.details.move">
                          Déménager
                        </button>
                      </div>
                      <div class="control">
                        <a (click)="onRemoveFromRoom(memberId)">
                          <button
                            class="button is-danger"
                            [disabled]="enabled"
                            i18n="@@room.details.remove">
                            Supprimer de la chambre
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                @if (isDemenager) {
                  <div>
                    @if (ref === memberId) {
                      <div>
                        <hr />
                        <form
                          [formGroup]="roomForm"
                          (ngSubmit)="onSubmitMoveRoom(memberId)"
                          novalidate>
                          <div class="field has-addons has-addons-fullwidth">
                            <div class="control">
                              <app-room-select
                                formControlName="roomNumberNew" />
                            </div>
                            <div class="control">
                              <button
                                type="submit"
                                class="button is-primary"
                                [disabled]="roomForm.status === 'INVALID'"
                                i18n="@@validate">
                                Valider
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    }
                    <hr />
                  </div>
                }
              }
            }
            @if (memberIds.length === 0) {
              <h6
                class="title is-6 has-text-centered"
                i18n="@@room.details.no-members">
                Aucun adhérent dans la chambre
              </h6>
            }
          }
        </div>
      </div>
    </div>
  </div>
}

@if (addPortOpen) {
  <app-modal
    title="Ajouter un port"
    i18n-title="@@room.details.add-port"
    (closed)="addPortOpen = false">
    <app-port-picker [roomId]="room_id" (saved)="onPortAdded()" />
    <div modal-actions class="buttons">
      <button
        type="button"
        class="button"
        (click)="addPortOpen = false"
        i18n="@@common.cancel">
        Annuler
      </button>
    </div>
  </app-modal>
}
