@if (room$ | async; as room) {
  <div class="container mt-5">
    <div class="columns">
      <div class="column is-one-quarter box">
        <h4 class="title is-4 has-text-centered" i18n="@@common.informations">
          Informations
        </h4>
        <p>
          <strong i18n="@@room.details.room">Chambre : </strong
          >{{ room.roomNumber }}
        </p>
        <p>
          <strong i18n="@@room.details.vlan">VLAN assigné : </strong
          >{{ room.vlan }}
        </p>
        <br />
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <a [routerLink]="['/room/edit', room.id]">
              <button class="button is-primary" i18n="@@common.edit">
                Éditer
              </button>
            </a>
          </div>
          <div class="control">
            <button class="button is-danger" disabled i18n="@@common.delete">
              Supprimer
            </button>
          </div>
        </div>
        <hr />
        <div class="level">
          <div class="level-left">
            <h4 class="title is-4">Ports</h4>
          </div>
          <div class="level-right">
            <button class="button is-small is-success" (click)="addPort()">
              <span class="icon is-small"><i class="fas fa-plus"></i></span>
            </button>
          </div>
        </div>
        <ul>
          @for (portRes of ports$ | async; track portRes) {
            <p>
              <strong>{{ portRes.portNumber }}</strong>
            </p>
            <a
              class="button is-primary is-fullwidth is-small"
              [routerLink]="['/port', portRes.switchObj, portRes.id]"
              i18n="@@room.details.configure">
              Configurer
            </a>
          }
        </ul>
      </div>
      <div class="column">
        <h4 class="title is-4 has-text-centered" i18n="@@room.details.members">
          Adhérents
        </h4>
        <div class="box">
          @if (memberIds$ | async; as memberIds) {
            @for (memberId of memberIds; track memberId) {
              @if (getMemberUsername(memberId) | async; as member) {
                <div class="columns is-vcentered">
                  <div class="column is-one-fifth">
                    <strong
                      >{{ member.firstName }} {{ member.lastName }}</strong
                    >
                  </div>
                  <div class="column">
                    <div class="field is-grouped is-grouped-centered">
                      <div class="control">
                        <a [routerLink]="['/member/view', memberId, 'profile']">
                          <button
                            class="button is-primary"
                            [disabled]="enabled"
                            i18n="@@room.details.view-profile">
                            Consulter le profil
                          </button>
                        </a>
                      </div>
                      <div class="control">
                        <button
                          class="button is-primary"
                          (click)="onDemenager(memberId)"
                          [disabled]="enabled"
                          i18n="@@room.details.move">
                          Déménager
                        </button>
                      </div>
                      <div class="control">
                        <a (click)="onRemoveFromRoom(memberId)">
                          <button
                            class="button is-danger"
                            [disabled]="enabled"
                            i18n="@@room.details.remove">
                            Supprimer de la chambre
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                @if (isDemenager) {
                  <div>
                    @if (ref === memberId) {
                      <div>
                        <hr />
                        <form
                          [formGroup]="roomForm"
                          (ngSubmit)="onSubmitMoveRoom(memberId)"
                          novalidate>
                          <div class="field has-addons has-addons-fullwidth">
                            <div class="control">
                              <app-room-select
                                formControlName="roomNumberNew" />
                            </div>
                            <div class="control">
                              <button
                                type="submit"
                                class="button is-primary"
                                [disabled]="roomForm.status === 'INVALID'"
                                i18n="@@validate">
                                Valider
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    }
                    <hr />
                  </div>
                }
              }
            }
            @if (memberIds.length === 0) {
              <h6
                class="title is-6 has-text-centered"
                i18n="@@room.details.no-members">
                Aucun adhérent dans la chambre
              </h6>
            }
          }
        </div>
      </div>
    </div>
  </div>
}

@if (addPortOpen) {
  <app-modal
    title="Ajouter un port"
    i18n-title="@@room.details.add-port"
    (closed)="addPortOpen = false">
    <form
      id="add-port-form"
      [formGroup]="addPortForm"
      (ngSubmit)="submitAddPort()">
      <div class="field">
        <label class="label" for="add-port-switch">Switch</label>
        <app-combobox
          inputId="add-port-switch"
          formControlName="switchId"
          [options]="switchOptions"
          [loading]="switchesLoading"
          [unavailable]="switchesUnavailable"
          label="Commutateur"
          i18n-label="@@common.switch"
          placeholder="Sélectionner un commutateur"
          i18n-placeholder="@@switch.select.placeholder" />
        @if (switchesUnavailable) {
          <p class="help is-danger" i18n="@@switch.select.load-error">
            Impossible de charger les commutateurs.
          </p>
        }
      </div>
      <div class="field">
        <p class="label" i18n="@@room.details.identifier-type">
          Type d'identifiant
        </p>
        <div class="control">
          <label class="radio">
            <input type="radio" formControlName="type" value="oid" />
            OID
          </label>
          <label class="radio ml-2">
            <input type="radio" formControlName="type" value="name" />
            <span i18n="@@room.details.identifier-name">Nom (Gi1/0/x)</span>
          </label>
        </div>
      </div>
      <div class="field">
        <label class="label" for="add-port-value" i18n="@@room.details.value"
          >Valeur</label
        >
        <input
          id="add-port-value"
          class="input"
          type="text"
          formControlName="value"
          placeholder="ex: 10101 ou GigabitEthernet1/0/1"
          i18n-placeholder="@@room.details.value.placeholder" />
      </div>
    </form>
    <div modal-actions class="buttons">
      <button
        type="submit"
        form="add-port-form"
        class="button is-success"
        [disabled]="addPortForm.invalid"
        i18n="@@common.add">
        Ajouter
      </button>
      <button
        type="button"
        class="button"
        (click)="addPortOpen = false"
        i18n="@@common.cancel">
        Annuler
      </button>
    </div>
  </app-modal>
}
