<h2 class="title is-2">Création d'une chambre</h2>
<form [formGroup]="roomForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="field">
    <label class="label">Numéro de la chambre</label>
    <div class="control">
      <input
        class="input is-fullwidth"
        formControlName="roomNumber"
        type="number"
        placeholder="ex : 5110" />
    </div>
    <p class="help">Identifiant physique de la chambre (ex: 5110)</p>
  </div>

  <div class="field">
    <label class="label">Numéro de VLAN</label>
    <div class="control">
      <input
        class="input is-fullwidth"
        formControlName="vlan"
        type="number"
        placeholder="ex : 42" />
    </div>
    <p class="help">Numéro du VLAN (41–49)</p>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input
        class="input is-fullwidth"
        formControlName="description"
        type="text"
        placeholder="Chambre double" />
    </div>
  </div>

  <button
    type="submit"
    [disabled]="disabled || roomForm.invalid"
    class="button is-primary is-fullwidth mt-4">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Créer</span>
  </button>
</form>
