<h2 class="title is-2" i18n="@@room.new.title">Création d'une chambre</h2>
<form [formGroup]="roomForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="field">
    <label class="label" i18n="@@room.new.room-number"
      >Numéro de la chambre</label
    >
    <div class="control">
      <input
        class="input is-fullwidth"
        formControlName="roomNumber"
        type="number"
        placeholder="ex : 5110"
        i18n-placeholder="@@room.new.room-number.placeholder" />
    </div>
    <p class="help" i18n="@@room.new.room-number.help">
      Identifiant physique de la chambre (ex: 5110)
    </p>
  </div>

  <div class="field">
    <label class="label" i18n="@@room.form.vlan">Numéro de VLAN</label>
    <div class="control">
      <input
        class="input is-fullwidth"
        formControlName="vlan"
        type="number"
        placeholder="ex : 42"
        i18n-placeholder="@@room.form.vlan.placeholder" />
    </div>
    <p class="help" i18n="@@room.new.vlan.help">Numéro du VLAN (41–49)</p>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input
        class="input is-fullwidth"
        formControlName="description"
        type="text"
        placeholder="Chambre double"
        i18n-placeholder="@@room.new.description.placeholder" />
    </div>
  </div>

  <button
    type="submit"
    [disabled]="disabled || roomForm.invalid"
    class="button is-primary is-fullwidth mt-4">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span i18n="@@common.create">Créer</span>
  </button>
</form>
