<h2 class="title is-2">Liste des adhérents</h2>
<div class="box">
  <div class="columns">
    <div class="column">
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="input is-fullwidth"
        placeholder="Rechercher..." type="text" />
    </div>
    <div class="column is-narrow">
      <a [routerLink]="['../add']">
        <button class="button is-primary">Nouvelle inscription</button>
      </a>
    </div>
  </div>
  <ng-container *ngIf="maxItems$ | async as maxItems">
    <table class="table is-hoverable is-fullwidth is-clickable">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Login</th>
          <th class="roomNumberRow">Chambre</th>
        </tr>
      </thead>
      <tbody *ngIf="result$ | async as result">
        <tr *ngFor="let member of result" [routerLink]="['../view', member.id]">
          <td>{{ member.lastName | uppercase }} <span class="capitalize">{{ member.firstName | lowercase }}</span></td>
          <td>{{ member.username }}</td>
          <td class="roomNumberRow">
            <p *ngIf="member.room != null">
              {{ member.room.roomNumber }}
            </p>
            <p *ngIf="member.room == null">Aucune</p>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination (pageChange)="handlePageChange($event)" [maxItems]="maxItems"></app-pagination>
  </ng-container>
</div>
