@if (oidcSecurityService.isAuthenticated() | async) {
  <div class="p-3">
    <aside class="menu">
      <p i18n="sidebar section general" class="menu-label">Général</p>
      <ul class="menu-list">
        <li>
          <a routerLinkActive="is-active" [routerLink]="['dashboard']" i18n="sidebar link my account">
            Mon Compte
          </a>
        </li>
      </ul>
      <p i18n="sidebar section administration" class="menu-label">Administration</p>
      <ul class="menu-list">
        <li>
          <span i18n="sidebar group members">Gestion Adhérents</span>
          <ul>
            <li>
              <a routerLinkActive="is-active" [routerLink]="['member']" i18n="sidebar link members">
                Adhérents
              </a>
            </li>
            <li>
              <a routerLinkActive="is-active" [routerLink]="['device']" i18n="sidebar link devices">
                Appareils
              </a>
            </li>
            <li>
              <a routerLinkActive="is-active" [routerLink]="['room']" i18n="sidebar link rooms">
                Chambres
              </a>
            </li>
          </ul>
        </li>
        <li>
          <span i18n="sidebar group network">Gestion réseau</span>
          <ul>
            <li>
              <a routerLinkActive="is-active" [routerLink]="['switch/search']" i18n="sidebar link switches">
                Commutateurs
              </a>
            </li>
            <li>
              <a routerLinkActive="is-active" [routerLink]="['port/search']" i18n="sidebar link ports">
                Ports
              </a>
            </li>
            <li>
              <a routerLinkActive="is-active" [routerLink]="['switch_local']" i18n="sidebar link local switch">
                Commutateur Local
              </a>
            </li>
            @if ("manage" | able: "admin") {
              <li>
                <a routerLinkActive="is-active" [routerLink]="['vlan']" i18n="sidebar link vlans">VLANs</a>
              </li>
            }
          </ul>
        </li>
        @if ("manage" | able: "prod") {
          <li>
            <span i18n="sidebar group authentication">Authentification</span>
            <ul>
              <li>
                <a routerLinkActive="is-active" [routerLink]="['auth/naina']" i18n="sidebar link naina">
                  NainA
                </a>
              </li>
              <li>
                <a routerLinkActive="is-active" [routerLink]="['auth/api-key']" i18n="sidebar link api key">
                  Clef d'API
                </a>
              </li>
            </ul>
          </li>
        }
      </ul>
      @if ("manage" | able: "treasury") {
        <p i18n="sidebar section treasury" class="menu-label">Trésorerie</p>
        <ul class="menu-list">
          <li>
            <span i18n="sidebar group transactions">Transactions</span>
            <ul>
              <li>
                <a routerLinkActive="is-active" [routerLink]="['transaction/add']" i18n="sidebar link new transaction">
                  Nouvelle transaction
                </a>
              </li>
              <li>
                <a routerLinkActive="is-active" [routerLink]="['transaction/export']" i18n="sidebar link export transactions">
                  Export
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['product/search']" i18n="sidebar link products">
              Produits
            </a>
          </li>
        </ul>
      }
    </aside>
  </div>
}
