<form (ngSubmit)="submit()" [formGroup]="productForm">
  <div class="field">
    <label class="label">Matériel à ajouter</label>
    @if (products$ | async) {
      @for (
        product of productForm.controls.products.controls;
        track product;
        let i = $index
      ) {
        <div class="control" formArrayName="products">
          <div class="form-check" [formGroupName]="i">
            <label class="checkbox">
              <input
                formControlName="checked"
                (change)="updateAmount()"
                type="checkbox"
                value="" />
              {{ product.value.name }} ({{ product.value.amount }} €)
            </label>
          </div>
        </div>
      }
    }
  </div>
  <div class="field">
    <label class="label">Montant : {{ amount }} €</label>
    <div class="control">
      <select class="input is-fullwidth" formControlName="paidWith" type="text">
        <option value="0">-- Moyen de paiement --</option>
        @for (pm of paymentMethods; track pm) {
          <option value="{{ pm.id }}">
            {{ pm.name }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="field">
    <button
      class="button is-success is-fullwidth"
      type="submit"
      [disabled]="productForm.invalid">
      Valider
    </button>
  </div>
</form>
