<form (ngSubmit)="submit()" [formGroup]="productsForm">
  <div class="field">
    <label class="label">Matériel à ajouter</label>
    <ng-container *ngIf="products$ | async as products">
      <div class="control" *ngFor="let product of products; let i = index" formArrayName="products">
        <div class="form-check" [formGroupName]="i">
          <label class="checkbox">
            <input formControlName="checked" (change)="updateAmount()" type="checkbox" value="">
            {{product.name}} ({{product.sellingPrice}} €)
          </label>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="field">
    <label class="label">Montant : {{ amountToPay }} €</label>
    <div class="control">
      <select class="input is-fullwidth" formControlName="paidWith" type="text">
        <option value="">-- Moyen de paiement --</option>
        <option *ngFor="let pm of paymentMethods" value="{{ pm.id }}">
          {{ pm.name }}
        </option>
      </select>
    </div>
    <p *ngIf="productsForm.controls['paidWith'].invalid && productsForm.controls['paidWith'].touched"
      class="help is-danger">Moyen de paiement invalide
    </p>
  </div>
  <div class="field">
    <button class="button is-success is-fullwidth" type="submit">Valider</button>
  </div>
</form>
