<div class="d-flex align-items-center" >
  <main role="main" class="container">
    <div id="content" class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <img src="https://minet.net/res/img/minet.png" class="img-fluid"></div>
          <div class="card-body">
            <h4 class="text-justify" style="color: dark" >  <b>Bienvenue sur le campus de Télécom SudParis et Institut Mines-Télécom Business school !
            </b></h4>

            <p class="text-justify" style="color: dark" >    Vous pourrez sur cette page vous inscrire et cotiser au Wifi Minet. Il vous suffira de suivre ces quelques étapes :
            </p>


            <h2 class="text-center">Étape 1 : L'inscription. </h2>
            <form>
              <div class="form-row">
                <div classe ="form-group col-md-6">
                  <label for="inputLastname" class="text-center"> Nom / Lastname </label>
                  <input type="text" class="form-control" id="inputLastname" placeholder="Minet">
                </div>

                <div class="form-group col-md-6">
                <label for="inputFirstname" class="text-center"> Prénom / Firstname </label>
                <input type="text" class="form-control" id="inputFirstname" placeholder="Ubuntoutou">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail"> Email </label>
                <input type="email" class="form-control" id="inputEmail" placeholder="ubuntoutou@minet.net">
              </div>

              <div class="form-group">
                <label for="inputLogin"> Login </label>
                <input type="text" class="form-control" id="inputLogin" placeholder="ubuntoutou_m">
                <small id="emailHelp" class="form-text text-muted">Utilisez de préférence votre login ecampus.</small>
                <small id="emailHelpEN" class="form-text text-muted">Preferably use your ecampus' login. </small>
              </div>

              <div class="form-group">
                <label for="inputPassword"> Mot de passe / Password</label>
                <input type ="password" required minlength="6" class="form-control" name="password" id="inputPassword">
              </div>

              <div class="form-group">
                <label for="inputConfirmation">Confirmation de mot de passe / Password confirmation</label>
                <input type="password" class="form-control" id="inputConfirmation">
              </div>


              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputRoom"> Numéro de chambre / Room Number</label>
                  <input type="text" class="form-control" id="inputRoom">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputBuilding">Bâtiment / Building</label>
                  <select id="inputBuilding" class="form-control">
                    <option selected>U1</option>
                    <option>U2</option>
                    <option>U3</option>
                    <option>U4</option>
                    <option>U5</option>
                    <option>U6</option>
                    <option>U7</option>
                    <option>Pas sur le campus / Not on the campus.</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputDureecotisation">Durée d'adhésion / Subscription duration</label>
                <select id="inputDureecotisation" class="form-control">
                    <option value="360">Sans chambre - 9 € - 07/04/2021</option>
                    <option value="30">1 mois - 9 € - 12/05/2020</option>
                    <option value="60">2 mois - 18 € - 11/06/2020</option>
                    <option value="90">3 mois - 27 € - 11/07/2020</option>
                    <option value="120">4 mois - 36 € - 10/08/2020</option>
                    <option value="150">5 mois - 45 € - 09/09/2020</option>
                    <option value="365">1 an - 50 € - 12/04/2021</option></select>
              </div>
            </form>
            <h2 class="text-center">Étape 2 : Signature & Règles.  </h2>
            <p class="text-justify" style="color: dark" > Par la suite, il vous faudra signer la charte de l'association MiNET. Vous pouvez le faire  <a href="https://charte.minet.net/fr" class="alert-link">ici</a>.
              Vous en recevrez alors une copie par mail. Glissez-la en dessous.
            </p>
            <form>
              <div class="form-group">
                <input type="file" class="form-control-file" id="CharteSignee">
              </div>
            </form>

            <h2 class="text-center">Étape 3 : Paiement.  </h2>
            <p class="text-justify" style="color: dark" > Pour finir, il ne reste plus qu'à payer. Pour le moment, le seul moyen de paiement disponible est paypal.
              bla bla ajouter bouton + api paypal
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
