
<div class="jumbotron m-0 bg-black text-dark" style="background: transparent" >
<h1 class="text-danger"> PORTAIL CAPTIF IN PROGRESS</h1>

<h4 class="text-justify" style="color: dark" > Bienvenue sur le campus de Télécom SudParis et Institut Mines-Télécom Buisnness school !
</h4>
  <h4 class="text-justify" style="color: dark" >    Afin de surfer sur Internet, vous devez préalablement vous inscrire à MiNET, l'association étudiante qui gère les connexions à Internet des 700 chambres et studios du campus.

A partir de cette page, vous pouvez vous inscrire ou accéder à votre compte pour ajouter des ordinateurs par exemple. Des tutoriaux sont aussi présents pour vous aider à vous connecter sur le site
    <a class="text-primary" target="_blank" href="https://minet.net/fr/tutoriels.html">minet.net</a>.
</h4>
</div>

<br>
<div class="text-center">
  <button class="w-30 btn btn-primary " (click)="login()">
    Se connecter
  </button>
</div>

