<div class="columns column is-centered">
  <figure>
    <img src="../../assets/adh6.min.svg">
  </figure>
</div>
<div class="notification is-info is-light">
  <h4 class="title is-4" i18n="portail about">À propos de ce site</h4>
  <p i18n="portail about desc">
    Vous êtes sur <a href="//github.com/minet/adh6">ADH6</a>, la toute nouvelle plateforme de gestion de MiNET.
    Cette application est en version <b>beta</b> et il est donc possible que vous rencontriez des dysfonctionnements.
  </p>
  <p i18n="portail about contact">
    Si vous rencontrez le moindre problème lié à cette nouvelle interface, ou si vous avez des remarques à faire
    concernant la lisibilité, l'accessibilité ou autre chose, n'hésitez pas à nous le signaler !
  </p>
</div>
<div class="columns">
  <div class="column">
    <div class="box">
      <h4 class="title is-5" i18n="portail manage account">Gérer mon compte MiNET</h4>
      <hr>
      <p i18n="portail manage account desc">
        Pour voir l'état de votre cotisation et ajouter ou supprimer des appareils, connectez-vous à votre
        compte MiNET.
      </p>
      <br />
      <button class="button is-primary" i18n="portail connection" (click)="oidcSecurityService.authorize()">
        Se connecter
      </button>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <h6 class="title is-5" i18n="portail create account">Créer mon compte MiNET</h6>
      <hr>
      <p i18n="portail create account desc">
        Afin de naviguer sur Internet, vous devez préalablement vous
        inscrire à MiNET, l&apos;association étudiante qui gère le réseau interne des 800 chambres et studios
        du campus.
      </p>
      <hr>
      <p i18n="portail create account options">
        Pour créer votre compte, vous pouvez :
      </p>
      <div class="content">
        <ul>
          <li i18n="portail create account online">
            Utiliser <a href="//payment.minet.net/">le système en ligne</a>
          </li>
          <li i18n="portail create account physical">
            Venir directement au local MiNET dans le Foyer associatif
          </li>
        </ul>
      </div>
      <img src="../assets/plan_foyer.webp" width="200">
    </div>
  </div>
