<h1 class="text-info"> PORTAIL CAPTIF</h1>



<h2 class="text-left"> Bienvenue sur le campus de Télécom SudParis et Institut Mines-Télécom Buisnness school !

    Afin de surfer sur Internet, vous devez préalablement vous inscrire à MiNET, l'association étudiante qui gère les connexions à Internet des 700 chambres et studios du campus.

A partir de cette page, vous pouvez vous inscrire ou accéder à votre compte pour ajouter des ordinateurs par exemple. Des tutoriaux sont aussi présents pour vous aider à vous connecter sur le site minet.net.
</h2>

<input type="text" class="form-control">

