<!--<div class="suggestion">
  <ng-template #itemTemplate let-model="item" let-index="index">
    <p>{{model.name}}</p>
  </ng-template>

  <input #searchInput [(ngModel)]="searchBox"
         [typeaheadAsync]="true"
         [typeahead]="searchResult$"
         (typeaheadOnSelect)="typeaheadOnSelect($event)"
         [typeaheadOptionsLimit]="15"
         [typeaheadMinLength]="3"
         [typeaheadItemTemplate]="itemTemplate"
         typeaheadOptionField="name"
         typeaheadGroupField="objType"
         placeholder="Recherche globale"
         class="form-control">
</div>-->
