@if (isPermanent) {
  <div class="notification is-info is-light">
    <p>Ce compte est permanent et ne nécessite pas de cotisation.</p>
  </div>
} @else {
  <div class="notification">
    <p>
      Dans le cas d'une cotisation ou d'une recotisation, une validation manuelle
      est nécessaire.
    </p>
  </div>
  @if (member?.membership === "PENDING_RULES") {
    <div class="notification is-danger is-light">
      <p>
        La charte n'est pas signée:
        <a href="//chartes.minet.net" target="_blank" rel="noopener noreferrer"
          >aller sur charte</a
        >
      </p>
    </div>
  }
  <form (ngSubmit)="submitSubscription()" [formGroup]="subscriptionForm">
    <div class="field">
      <label class="label">Durée de cotisation</label>
      <div class="control">
        <select
          class="input is-fullwidth"
          formControlName="durationIndex"
          type="text">
          @if (!isWifiOnly) {
            <option value="-1">Pas de cotisation</option>
          }
          @for (opt of visibleOptions; track opt.index) {
            <option value="{{ opt.index }}">
              {{ opt.duration === 12 ? "1 an" : opt.duration + " mois" }}
              {{ isWifiOnly ? "- sans chambre" : "" }}
              ({{ opt.price }}€) -
              {{ formatDate(opt.duration) }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="field">
      <label class="label">Montant : {{ amount }} €</label>
      <div class="control">
        <select class="input is-fullwidth" formControlName="paidWith" type="text">
          <option value="-1">-- Moyen de paiement --</option>
          @for (pm of paymentMethods; track pm) {
            <option value="{{ pm.id }}">
              {{ pm.name }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="field">
      <button
        class="button is-success is-fullwidth"
        type="submit"
        [disabled]="subscriptionForm.invalid">
        {{ isSubscriptionFinished ? "Valider" : "Mettre à jour" }}
      </button>
    </div>
  </form>
}
