<div class="p-3 has-background-white" *ngIf="oidcSecurityService.isAuthenticated() | async">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a routerLinkActive="is-active" [routerLink]="['dashboard']">Mon Compte</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li>
        Gestion Adhérents
        <ul>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['member']">Adhérents</a>
          </li>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['device']">Appareils</a>
          </li>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['room']">Chambres</a>
          </li>
        </ul>
      </li>
      <li>
        Gestion réseau
        <ul>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['switch/search']">Commutateurs</a>
          </li>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['port/search']">Ports</a>
          </li>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['switch_local']">
              Commutateur Local
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="'manage' | able: 'prod'">
        Authentification
        <ul>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['auth/naina']">NainA</a>
          </li>
          <li>
            <a routerLinkActive="is-active" [routerLink]="['auth/api-key']">Clef d'API</a>
          </li>
        </ul>
      </li>
    </ul>
    <p class="menu-label" *ngIf="'manage' | able: 'treasury'">
      Transactions
    </p>
    <ul class="menu-list" *ngIf="'manage' | able: 'treasury'">
      <li>
        <a routerLinkActive="is-active" [routerLink]="['transaction/add']">Transaction</a>
      </li>
      <li><a routerLinkActive="is-active" [routerLink]="['treasury']">Trésorerie</a></li>
      <li><a routerLinkActive="is-active" [routerLink]="['account/search']">Comptes</a></li>
      <li><a routerLinkActive="is-active" [routerLink]="['product/search']">Produit</a></li>
    </ul>
  </aside>
</div>
