<h2 class="text-left">Nouvelle transaction</h2>
<hr>

<form [formGroup]="transactionDetails" (ngSubmit)="onSubmit()">
  <div class="card-deck">
    <div class="card">
      <div class="card-header text-white bg-danger">Compte source</div>
      <div class="card-body">
        <div class="suggestion">
          <input type="text" placeholder="Rechercher..." class="w-100 form-control" #srcAccount
                 [value]="selectedSrcAccount != undefined ? selectedSrcAccount.name : ''"
                 (keyup)="srcSearch(srcAccount.value)"/>
          <input type="hidden" formControlName="srcAccount" [value]="selectedSrcAccount != undefined ? selectedSrcAccount.id : ''">
          <div class="list-group w-100" [hidden]="!displaySrc"
               (clickOutside)="displaySrc = false"
               *ngIf="srcSearchResult$ | async as srcSearchResult">
            <a
              (click)="setSelectedAccount(account, true)"
              class="list-group-item"
              *ngFor="let account of srcSearchResult.accounts"
            >
              {{ account.name }}
            </a>
          </div>
          <hr>
          <div *ngIf="selectedSrcAccount != undefined">
            <p><span class="font-weight-bold">Actif :</span> {{ selectedSrcAccount.actif}}</p>
            <p *ngIf="(selectedSrcAccountBalance$ | async) as selectedSrcAccountBalance"><span class="font-weight-bold">
              Solde :</span> {{ selectedSrcAccountBalance.balance}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer">Ce compte sera <span class="font-weight-bold">débité</span></div>
    </div>
    <div class="card">
      <div class="card-header">Transaction</div>
      <div class="card-body">
        <div class="form-group mb-3">
          <input type="text" class="form-control" aria-label="Description" placeholder="Description" formControlName="name">
        </div>
        <div class="form-group">
          <label for="paidBy">Payé par :</label>
          <select class="w-100 form-control" formControlName="paymentMethod" id="paidBy">
            <option *ngFor="let pm of paymentMethods$ | async" [value]="pm.payment_method_id">{{ pm.name }}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="transactionDetails.value.paymentMethod == cashPaymentMethodID">
          <div class="btn-group" btnRadioGroup formControlName="caisse">
            <label btnRadio="to" class="btn btn-primary"
                   tabindex="0" role="button">Ajouter caisse</label>
            <label btnRadio="direct" class="btn btn-primary"
                   tabindex="1" role="button">Sans caisse</label>
            <label btnRadio="from" class="btn btn-primary"
                   tabindex="2" role="button">Sortir caisse</label>
          </div>
        </div>
          <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="value">€</span>
          </div>
          <input type="text" class="form-control" aria-label="value" aria-describedby="value" formControlName="value" type="number">
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-white bg-success">Compte destination</div>
      <div class="card-body">
        <div class="suggestion">
          <input type="text" placeholder="Rechercher..." class="w-100 form-control" #dstAccount
                 [value]="selectedDstAccount != undefined ? selectedDstAccount.name : ''"
                 (keyup)="dstSearch(dstAccount.value)"/>
          <input type="hidden" formControlName="dstAccount" [value]="selectedDstAccount != undefined ? selectedDstAccount.id : ''">
          <div class="list-group w-100" style="position: absolute; z-index: 42" [hidden]="!displayDst"
               (clickOutside)="displayDst = false"
               *ngIf="dstSearchResult$ | async as dstSearchResult">
            <a
              (click)="setSelectedAccount(account, false)"
              class="list-group-item"
              *ngFor="let account of dstSearchResult.accounts"
            >
              {{ account.name }}
            </a>
          </div>
          <hr>
          <div *ngIf="selectedDstAccount != undefined">
            <p><span class="font-weight-bold">Actif :</span> {{ selectedDstAccount.actif}}</p>
            <p *ngIf="selectedDstAccountBalance$ | async as selectedDstAccountBalance"><span class="font-weight-bold">
              Solde :</span> {{ selectedDstAccountBalance.balance}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer">Ce compte sera <span class="font-weight-bold">crédité</span></div>
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary w-100" [disabled]="transactionDetails.status == 'INVALID' || isFormInvalid()">Créer</button>

</form>

  <br>
  <h3 class="text-left">Transactions récentes</h3>
  <app-transaction-list></app-transaction-list>
