<div class="field is-horizontal">
  <div class="field-body">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="input is-fullwidth"
          placeholder="Rechercher..." type="text" />
      </p>
      <p class="control">
        <select class="input" (change)="updateSubscriptionFilter($event.target.value)">
          <option value="">-- Toutes inscriptions --</option>
          <option *ngFor="let v of subscriptionValues | keyvalue" value="{{v.value}}">{{v.key}}</option>
        </select>
      </p>
      <p class="control">
        <a [routerLink]="['../add']">
          <button class="button is-primary">Nouvelle inscription</button>
        </a>
      </p>
    </div>
  </div>
</div>
<ng-container *ngIf="result$ | async as result; else loadingTable">
  <table class="table is-hoverable is-fullwidth is-clickable">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Login</th>
        <th class="roomNumberRow">Chambre</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let i of result">
        <ng-container *ngIf="getMember(i) | async as member">
          <tr [routerLink]="['../view', member.id]">
            <td>{{ member.lastName | uppercase }} <span class="capitalize">{{ member.firstName | lowercase }}</span>
            </td>
            <td>{{ member.username }}</td>
            <td class="roomNumberRow">
              <p>
                {{ (getRoomNumber(member.id) | async) || "Aucune" }}
              </p>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</ng-container>
<app-pagination [maxItems]="maxItems" (pageChange)="handlePageChange($event)"></app-pagination>
<ng-template #loadingTable>
  <div class="notification is-info is-light has-text-centered">
    <h4 class="title is-4">Chargement ...</h4>
  </div>
</ng-template>
