<input
  #searchBox
  id="search-box"
  (keyup)="search(searchBox.value)"
  placeholder="Rechercher..."
  i18n-placeholder="@@common.search.placeholder"
  class="input is-fullwidth"
  type="text" />
<br />

@if (result$ | async; as result) {
  <table class="table is-hoverable is-striped is-fullwidth">
    <thead>
      <tr>
        <th i18n="@@common.name">Nom</th>
        <th i18n="@@product.list.buying-price">Prix d'achat</th>
        <th i18n="@@product.list.selling-price">Prix de vente</th>
      </tr>
    </thead>
    <tbody>
      @for (productResult of result; track productResult) {
        <tr>
          <td class="align-middle">{{ productResult.name }}</td>
          <td class="align-middle">{{ (productResult.buyingPrice || 0) * 0.01 }}</td>
          <td class="align-middle">{{ (productResult.sellingPrice || 0) * 0.01 }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div class="notification is-info is-light has-text-centered">
    <h4 class="title is-4" i18n="@@common.loading.title">Chargement ...</h4>
  </div>
}
