<div class="box">
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="input is-fullwidth" type="text"
    placeholder="Rechercher..." />
  <table class="table is-fullwidth is-hoverable is-striped is-clickable" *ngIf="result$ | async as result">
    <thead>
      <tr>
        <th class="center">Switch</th>
        <th class="center">Numéro de port</th>
        <th class="center">Chambre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let port of result" [routerLink]="['/port', port.switchObj, port.id]"
        routerLinkActive="router-link-active">
        <td class="center">
          {{ cachedSwitchDescription.get(port.switchObj) | async }}
        </td>
        <td class="center">{{ port.portNumber }}</td>
        <td class="center">
          <a *ngIf="port.room !== null" [routerLink]="['/room/view', port.room.id]">
            {{ cachedRoomDescription.get(port.room) | async }}</a>
          <a *ngIf="port.room === null">Aucune chambre</a>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination [maxItems]="maxItems" (pageChange)="handlePageChange($event)"></app-pagination>
  <ng-template #loadingTable>
    <div class="notification is-info is-light has-text-centered">
      <h4 class="title is-4">Chargement ...</h4>
    </div>
  </ng-template>
</div>
