<div class="box">
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="input is-fullwidth" type="text"
    placeholder="Rechercher..." />
  <ng-container *ngIf="maxItems$ | async as maxItems">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th class="center">Switch</th>
          <th class="center">Numéro de port</th>
          <th class="center">Chambre</th>
        </tr>
      </thead>
      <tbody *ngIf="result$ | async as result">
        <tr *ngFor="let port of result" [routerLink]="['/port', port.switchObj.id, port.id]"
          routerLinkActive="router-link-active">
          <td class="center">{{ port.switchObj.description }}</td>
          <td class="center">{{ port.portNumber }}</td>
          <td class="center">
            <a *ngIf="port.room != null" [routerLink]="['/room/view', port.room.id]">{{ port.room.description }}</a>
            <a *ngIf="port.room == null">Aucune chambre</a>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination [maxItems]="maxItems" (pageChange)="handlePageChange($event)"></app-pagination>
  </ng-container>
</div>
