<div class="container mt-5" *ngIf="(port$ | async) as port">
  <div class="columns">
    <div class="column is-one-quarter box">
      <h4 class="title is-4 has-text-centered">Informations</h4>
      <p><strong>Numéro : </strong>{{ port.portNumber }}</p>
      <p><strong>Switch : </strong>
        <a [routerLink]="['/switch', port.switchObj, 'view']">
          {{ switch_description$ | async }}
        </a>
      </p>
      <p><strong>Chambre : </strong>
        <span *ngIf="port.room !== undefined">
          {{room_number$ | async}}
        </span>
        <span *ngIf="port.room === undefined">Aucune chambre</span>
      </p>
      <p><strong>VLAN actuel : </strong>{{(vlan$ | async)}}</p>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-centered">Configuration</h4>
      <div class="columns has-text-centered">
        <div class="column">
          <ng-container *ngIf="{value: (status$ | async)} as context">
            <ng-container *ngIf="context.value !== null; else loadingButton">
              <p><strong>Port: {{getStatus(context.value)}}</strong></p>
              <button class="button is-fullwidth" [ngClass]="{true:'is-success', false:'is-danger'}[!context.value]"
                (click)="toggleStatus()">
                {{ getAction(!context.value) }}
              </button>
            </ng-container>
          </ng-container>
        </div>
        <div class="column">
          <ng-container *ngIf="{value: (auth$ | async)} as context">
            <ng-container *ngIf="context.value !== null; else loadingButton">
              <p><strong>Authentification: {{getState(context.value)}}</strong></p>
              <button class="button is-fullwidth" [ngClass]="{true:'is-success', false:'is-danger'}[!context.value]"
                (click)="toggleAuth(context.value)">
                {{ getAction(!context.value) }}
              </button>
            </ng-container>
          </ng-container>
        </div>
        <div class="column">
          <ng-container *ngIf="{value: (mab$ | async)} as context">
            <ng-container *ngIf="context.value !== null; else loadingButton">
              <p><strong>MAB: {{getState(context.value)}}</strong></p>
              <button class="button is-fullwidth" [ngClass]="{true:'is-success', false:'is-danger'}[!context.value]"
                (click)="toggleMAB()">
                {{ getAction(!context.value) }}
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingButton>
    <p><strong>Chargement...</strong></p>
    <button class="button is-loading is-primary is-fullwidth">loading</button>
  </ng-template>
