<div *ngIf="(port$ | async) as port">
  <h2>Port {{ port.portNumber }}</h2>
  <center><h3><i>{{ alias }}</i></h3></center>
  <h3>Informations</h3>
  <div class="row">
    <div class="col-4">
      <button class="w-100 btn btn-primary" [disabled]="port.room == null"(click)="IfRoomExists(port.room)">
        <a *ngIf="port.room != null" [routerLink]="['/room/view', port.room.roomNumber]" style="color:white;">Chambre {{ port.room.roomNumber }}</a>
        <a *ngIf="port.room == null">Aucune chambre</a>
      </button>
    </div>
    <div class="col-4">
      <a [routerLink]="['/switch/view', port.switchObj.id]">
        <button class="w-100 btn btn-primary">{{ port.switchObj.description }}</button>
      </a>
    </div>
  </div>
  <h3>Configuration</h3>
  <div class=row>
    <div class="col-4">
      <strong>Port: {{getStatus(status)}}</strong><br/>
      <button class="w-100 btn" [ngClass]="{true:'btn-success', false:'btn-danger'}[!status]" (click)="toggleStatus()">
        {{ getAction(!status) }}
      </button>
    </div>
    <div class="col-4">
      <strong>Authentification: {{getState(auth)}} - VLAN: {{ vlan }}</strong><br/>
      <button class="w-100 btn btn-primary" [ngClass]="{true:'btn-success', false:'btn-danger'}[!auth]" (click)="toggleAuth()">
        {{ getAction(!auth) }}
      </button>
    </div>
    <div class="col-4">
      <strong>MAB: {{getState(mab)}}</strong><br/>
      <button class="w-100 btn btn-primary" [ngClass]="{true:'btn-success', false:'btn-danger'}[!mab]" (click)="toggleMAB()">
        {{ getAction(!mab) }}
      </button>
    </div>
  </div>
</div>
