<ng-container *ngIf="result$ | async as result">
  <p *ngIf="result.devices.length == 0; else theDevices" class="mt-3" i18n="device list none|Tells the user they have no registered devices">Aucun appareil enregistré</p>
  <ng-template #theDevices>
    <table class="w-100 shift-content-right table table-striped mt-3 table-bordered">
      <tbody>
      <tr *ngFor="let device of result.devices" class="device_row"
          [ngClass]="{'mac_highlighted': device.mac == (macHighlighted | async)}">
        <app-element [device]="device" style="padding: 0% 0%;" (removed)="updateSearch()"></app-element>
      </tr>
      </tbody>
    </table>
  </ng-template>
</ng-container>
