@if (result$ | async; as result) {
  <div>
    @if (result.length === 0) {
      <p
        class="title"
        i18n="device list none|Tells the user they have no registered devices">
        Aucun appareil enregistré
      </p>
    } @else {
      <ng-template [ngTemplateOutlet]="theDevices"></ng-template>
    }
    @for (deviceId of result; track deviceId; let i = $index) {
      <div>
        <app-element
          [elementName]="i"
          [deviceId]="deviceId"
          style="padding: 0% 0%"
          (removed)="updateSearch()"></app-element>
      </div>
    }
  </div>
} @else {
  <div class="notification is-info is-light has-text-centered">
    <h4 class="title is-4"><span i18n="@@loading">Chargement</span> ...</h4>
  </div>
}
