<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/dashboard']">
      <img src="../assets/minet.min.svg" width="50" class="d-inline-block align-top">
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link" i18n="@@language">
        Langue
      </a>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="/fr/">Français</a>
        <a class="navbar-item" href="/en/">English</a>
      </div>
    </div>
    <div class="navbar-item" *ngIf="true">
      <div class="buttons">
        <a class="button is-danger" *ngIf="sessionService.isAuthenticated" (click)="logout()"
          i18n="@@disconnect">Déconnexion</a>
      </div>
    </div>
  </div>
</nav>
