<!--<title>MiNET - ADH6</title>-->
<app-navbar></app-navbar>
<div *ngIf="isAuthenticated(); else elseBlock">
  <div class="modal" [ngClass]="{'is-active': bugModal}" *ngIf="bugModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <p class="modal-card-title">Signaler un bug</p>
        <button class="delete" aria-label="close" (click)="toogleModal()"></button>
      </div>
      <div class="modal-card-body">
        <form [formGroup]="submitBugForm" (ngSubmit)="onSubmitBug()" novalidate>
          <div class="field">
            <input formControlName="bugTitle" class="input" type="text" placeholder="Titre"
              value="{{ getCurrentComponent() }} : ">
          </div>
          <div class="field">
            <textarea formControlName="bugDescription" class="textarea" rows="3" placeholder="Description"></textarea>
          </div>
          <div class="field">
            <button type="submit" class="button is-primary is-fullwidth">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <app-error-page *ngIf="(hasError | async); else elseRouter"></app-error-page>
    <ng-template #elseRouter>
      <router-outlet></router-outlet>
    </ng-template>
  </div>

  <button id="reportBug" type="button" class="button is-primary" (click)="toogleModal()">
    <fa-icon [icon]="faBug"></fa-icon>
  </button>
</div>
<ng-template #elseBlock>
  <app-portail></app-portail>
</ng-template>
