<pagination-template #p="paginationApi" [id]="id"
                     (pageChange)="changePage.emit($event)">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="p.isFirstPage()" >
      <a class="page-link" [routerLink]="" [style.cursor]="p.isFirstPage() ? '' : 'pointer'" (click)="p.previous()">‹</a>
    </li>

    <li class="pagination-page page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
      <a class="page-link" style="cursor: pointer" [routerLink]="" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
        {{ page.label }}
      </a>
      <a class="page-link" style="cursor: pointer" [routerLink]="" *ngIf="p.getCurrent() === page.value">
        {{ page.label }}
      </a>
    </li>

    <li class="pagination-next page-item" [class.disabled]="p.isLastPage()">
      <a class="page-link" [routerLink]="" [style.cursor]="p.isLastPage() ? '' : 'pointer'" (click)="p.next()">›</a>
    </li>
  </ul>
</pagination-template>
