<h2 class="title is-2">Liste des chambres</h2>
<div class="box">
  <div class="columns">
    <div class="column">
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="input is-fullwidth"
        placeholder="Rechercher..." type="text" />
    </div>
    <div class="column is-narrow">
      <a [routerLink]="['/room/add']">
        <button class="button is-primary">Nouvelle chambre</button>
      </a>
    </div>
  </div>
  <table class="table is-hoverable is-striped is-fullwidth is-clickable"
    *ngIf="result$ | async as result; else loadingTable">
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Description</th>
        <th>VLAN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of result" [routerLink]="['/room/view',room.id]">
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.description }}</td>
        <td>{{ room.vlan }}</td>
      </tr>
    </tbody>
  </table>
  <app-pagination [maxItems]="maxItems" (pageChange)="handlePageChange($event)"></app-pagination>
  <ng-template #loadingTable>
    <div class="notification is-info is-light has-text-centered">
      <h4 class="title is-4">Chargement ...</h4>
    </div>
  </ng-template>
</div>
