<ng-container *ngIf="(account$ | async) as account">
  <div class="columns">
    <div class="column is-one-third">
      <button class="button is-primary is-fullwidth" (click)="goBack()">Retour</button>
    </div>
    <div class="column is-centered">
      <h2 class="title is-2">{{ account.name }}</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-header"
          [ngClass]="{true:'has-background-success', false:'has-background-danger'}[account.balance>0]">
          <h3 class="card-header-title title is-3 has-text-light is-centered">
            {{ account.balance | number:'':'fr' }} €
          </h3>
        </div>
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column">
                <label class="label">Actif</label>
              </div>
              <div class="column">
                <input type="checkbox" name="actif" class="checkbox" [(ngModel)]="account.actif" disabled>
              </div>
            </div>
            <div class="columns">
              <div class=" column">
                <label class="label">Compte Courant</label>
              </div>
              <div class="column">
                <input type="checkbox" name="actif" checked="checked" [(ngModel)]="account.compteCourant" disabled>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <label class="label">Épinglé</label>
              </div>
              <div class="column">
                <input type="checkbox" name="actif" checked="checked" [(ngModel)]="account.epingle" disabled>
              </div>
            </div>
            <div class="columns is-vcentered">
              <div class="column">
                <label class="label">Type</label>
              </div>
              <div class="column">
                {{ account.accountType }}
              </div>
            </div>
            <div class="columns is-vcentered">
              <div class="column">
                <label class="label">Date de création</label>
              </div>
              <div class="column">
                {{account.creationDate | date:"dd/MM/yyy HH:mm"}}
              </div>
            </div>
            <button class="button is-warning is-fullwidth" [routerLink]="['/account/edit', account.id]">Modifier le
              compte
            </button>
            <br />
            <button class="button is-primary is-fullwidth" [routerLink]="['/transaction/add', account.id]">Ajouter une
              écriture
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <app-transaction-list [asAccount]="account.id"></app-transaction-list>
    </div>
  </div>
</ng-container>
