<h2 class="text-left">Liste des inscriptions</h2>
<br />

<select class="custom-select" (change)="updateStatusFilter($event.target.value)">
  <option value="">Tout Status</option>
  <option *ngFor="let status of status_enum" value="{{status}}">{{replaceUnderscoreStatus(status, " ")| lowercase}}
  </option>
</select>

<div style="overflow-x:auto;" class="u-max-full-width">
  <table class="table clickable-table" *ngIf="result$ | async as result">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let membership of result.memberships" [routerLink]="[redirectLink(membership.status)]">
        <td>{{ membership.uuid }}</td>
        <td>{{ membership.member.lastName | uppercase }} <span class="capitalize">{{ membership.member.firstName |
            lowercase }}</span></td>
        <td>{{ membership.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
