# HTTP API
Flask
connexion
swagger-ui-bundle
uWSGI

# SQL 
SQLAlchemy
mysqlclient

# Misc
python-dateutil
PyYAML
jsonschema<4.0

# ADH <-> Switches communication
pysnmp

# ELK communication
elasticsearch

# Dependency injection
pinject

python-dotenv

# Communicate with other APIs (fetch MAC vendor)
requests

# Easily create requirements.txt
# pip-tools

python-gitlab
Flask-Migrate
Flask-Caching
authlib

# Enforced requirements for security reasons
cryptography>=3.3.2
jinja2>=2.11.3
bcrypt
pytest
pytest-coverage
pytest-lazy-fixture
