# Testing
pytest
pytest-cov
pytest-cases
faker

# HTTP API
Flask
git+https://github.com/minet/connexion.git
swagger-ui-bundle
uWSGI

# SQL 
SQLAlchemy
mysqlclient

# Misc
python-dateutil
PyYAML

# ADH <-> Switches communication
pysnmp

# ELK communication
elasticsearch

# Communicate with other APIs (fetch MAC vendor)
requests

# Easily create requirements.txt
pip-tools

python-gitlab
Flask-Migrate
flask-script
authlib

cryptography==3.3.1
