<div class="container mt-5" *ngIf="room$ | async as room">
  <div class="columns">
    <div class="column is-one-quarter box">
      <h4 class="title is-4 has-text-centered">Informations</h4>
      <p><strong>Chambre : </strong>{{ room.roomNumber }}</p>
      <p><strong>VLAN assigné : </strong>{{ room.vlan }}</p>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <a [routerLink]="['/room/edit', room.id]">
            <button class="button is-primary">Éditer</button>
          </a>
        </div>
        <div class="control">
          <button class="button is-danger" (click)="onDelete()" disabled>Supprimer</button>
        </div>
      </div>
      <hr />
      <h4 class="title is-4 has-text-centered">Ports</h4>
      <ul>
        <ng-container *ngFor="let portRes of ports$ | async">
          <p><strong>{{ portRes.portNumber }}</strong></p>
          <a class="button is-primary is-fullwidth is-small" [routerLink]="['/port',portRes.switchObj,portRes.id]">
            Configurer
          </a>
        </ng-container>
      </ul>
    </div>
    <div class="column">
      <h4 class="title is-4 has-text-centered">Adhérents</h4>
      <div class="columns is-vcentered">
        <div class="column is-one-quarter">
          <h4 class="title is-5">Emménagement</h4>
        </div>
        <div class="column">
          <form [formGroup]="EmmenagerForm" (ngSubmit)="onSubmitComeInRoom()" novalidate>
            <div class="field has-addons has-addons-fullwidth">
              <p class="control">
                <input class="input is-fullwidth" type="text" placeholder="Identifiant MiNET de l'adhérent"
                  formControlName="username" />
              </p>
              <p class="control">
                <button class="button is-primary" [disabled]="disabled || EmmenagerForm.status === 'INVALID'">
                  Valider
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div class="box">
        <ng-container *ngIf="members$ | async as members">
          <ng-container *ngFor="let member of members">
            <div class="columns is-vcentered">
              <div class="column is-one-fifth">
                <strong>{{ member.firstName }} {{ member.lastName }}</strong>
              </div>
              <div class="column">
                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                    <a [routerLink]="['/member/view', member.id]">
                      <button class="button is-primary" [disabled]="enabled">
                        Consulter le profil
                      </button>
                    </a>
                  </div>
                  <div class="control">
                    <button class="button is-primary" (click)="onDemenager(member.username)" [disabled]="enabled">
                      Déménager
                    </button>
                  </div>
                  <div class="control">
                    <a (click)="onRemoveFromRoom(member.username)">
                      <button class="button is-danger" [disabled]="enabled">
                        Supprimer de la chambre
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isDemenager">
              <div *ngIf="ref === member.username">
                <hr>
                <form [formGroup]="roomForm" (ngSubmit)="onSubmitMoveRoom(member.username)" novalidate>
                  <div class="field has-addons has-addons-fullwidth">
                    <div class="control">
                      <input class="input is-fullwidth" type="number" formControlName="roomNumberNew"
                        placeholder="Nouveau numéro de chambre" />
                    </div>
                    <div class="control">
                      <button type="submit" class="button is-primary"
                        [disabled]="disabled || roomForm.status === 'INVALID'">
                        Valider
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <hr>
            </div>
          </ng-container>
          <ng-container *ngIf="members.length === 0">
            <h6 class="title is-6 has-text-centered">Aucun adhérent dans la chambre</h6>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
