<div class="box">
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="field has-addons has-addons-centered">
      <p class="control">
        <span class="select">
          <select formControlName="connectionType">
            <option value="" i18n="@@device_type">-- Type d'appareil --</option>
            <option value="wired" i18n="@@wired">Filaire</option>
            <option value="wireless" i18n="@@wireless">Wi-Fi</option>
          </select>
        </span>
      </p>
      <p class="control">
        <input class="input" formControlName="mac" type="text" placeholder="11-22-33-AA-BB-CC">
      </p>
      <p class="control">
        <button [disabled]="deviceForm.status == 'INVALID'" class="button is-primary" type="submit"
          i18n="device new add|Add a new device">Ajouter l'appareil
        </button>
      </p>
    </div>
    <div class="columns">
      <div class="column has-text-right">
        <p class="text-secondary text-right">
          <a href="{{ localize_link('tutorials', locale) }}" i18n="device new where mac">Où trouver mon adresse MAC
            ?</a>
        </p>
      </div>
    </div>
  </form>
</div>
<!--
<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-row">
    <div class="from-group col-md-8">
      <input class="w-100 form-control mb-3" formControlName="mac" type="text" placeholder="11-22-33-AA-BB-CC">
    </div>
    <div class="from-group col-md-4">
      <select class="w-100 form-control mb-3" formControlName="connectionType" type="text">
        <option value="wired" i18n="@@wired">Filaire</option>
        <option value="wireless" i18n="@@wireless">Wi-Fi</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="deviceForm.status == 'INVALID'" class="w-100 btn btn-primary mb-3" type="submit"
      i18n="device new add|Add a new device">Ajouter l'appareil
    </button>
    <p class="text-secondary text-right"><span class="badge badge-pill badge-secondary">?</span>&nbsp;<a
        href="{{ localize_link('tutorials', locale) }}" class="text-secondary" i18n="device new where mac">Où trouver
        mon adresse MAC ?</a></p>
  </div>
</form>
-->
