<input
  #searchBox
  id="search-box"
  placeholder="Rechercher..."
  (keyup)="search(searchBox.value)"
  class="input is-fullwidth"
  type="text" />
<br />
<table class="table is-hoverable is-fullwidth is-clickable">
  <thead>
    <tr>
      <th style="width: 25%">Utilisateur</th>
      <th style="width: 25%">MAC de l'appareil</th>
      <th style="width: 25%">Type d'appareil</th>
      <th style="width: 25%">Fabricant</th>
    </tr>
  </thead>
  @if (result$ | async; as result) {
    <tbody>
      @for (device of result; track device.id) {
        <tr [routerLink]="['/member/view', device.member, 'profile']">
          <td>{{ (getUsername(device.id!) | async) || "chargement..." }}</td>
          <td>{{ device.mac }}</td>
          <td>{{ device.connectionType }}</td>
          <td>{{ device.vendor || "-" }}</td>
        </tr>
      }
    </tbody>
  } @else {
    <tr>
      <td colspan="42">
        <div class="notification is-info is-light has-text-centered">
          <h4 class="title is-4">Chargement ...</h4>
        </div>
      </td>
    </tr>
  }
</table>
<app-pagination
  [maxItems]="maxItems"
  (pageChange)="handlePageChange($event)"></app-pagination>
