@if (switch$ | async; as cur_switch) {
  <div class="container mt-5">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h2 class="title is-2">{{ cur_switch.description }}</h2>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a class="button is-link" [routerLink]="['/switch', switchId, 'admin']">
            <span class="icon"><i class="fas fa-cogs"></i></span>
            <span>Administration</span>
          </a>
        </div>
      </div>
    </div>
    <app-port-list [switchId]="switchId"></app-port-list>
  </div>
}
