<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column">
        <a href="//minet.net">
          <figure>
            <img
              src="../assets/minet-dark.min.svg"
              width="50%"
              class="d-inline-block align-top"
              alt=""
              class=".st5{fill: #000}"
            />
          </figure>
        </a>
        <p>
          <a href="//www.facebook.com/minet.tmsp/">Facebook</a> |
          <a href="//x.com/MinetTMSP/">X</a>
        </p>
      </div>
      <div class="column is-half">
        <h5 class="title is-5" i18n="@@about">À propos</h5>
        <p i18n="about | tell the history of the application"> Cette plateforme
          (adh6) est la 6ème version des plateformes de gestion d'adhérents de
          MiNET dont le développement a commencé à partir de 2016 pour remplacer
          adh5 (2011). <br />
          <br />
          Vous pouvez à tout moment regarder le code source de l'application :
          <a href="//github.com/minet/adh6">https://github.com/minet/adh6</a>
          (il s'agit d'un mirroir de notre projet gitlab).
        </p>
      </div>
      <div class="column">
        <h5 class="title is-5" i18n="@@contact">Nous contacter</h5>
        <label class="label" i18n="@@opening">Permanences</label>
        <p i18n="opening hours | describe the opening hours">
          du Lundi au Jeudi : de 18h à 19h30
        </p>
        <hr />
        <p>
          <b><a href="//tickets.minet.net" i18n="@@ticket">Par ticket</a></b> /
          <b
            ><a href="mailto:webmaster@minet.net" i18n="@@email">Par mail</a></b
          >
        </p>
      </div>
    </div>
  </div>
</footer>
